
@using EssexCelebrant.Models.Carousel;

@{
    ViewBag.Title = "Dinners";

    var carousel = new List<Carousel>
    {
        new Carousel
        {
            Image = "Content/Images/Masonic.png",
            Line1 = "Etiquette and tradition adhered to at a Ladies Festival"
        },
        new Carousel
        {
            Image = "Content/Images/ChampagneGlasses.png",
            Line1 = "Ensure that the Charity event goes smoothly, a Professional Toastmaster watches the timing and compares with flair"
        },
        new Carousel
        {
            Image = "Content/Images/MilitaryDinner.png",
            Line1 = "Passing the port is just one of many rituals the Professional Toastmaster can oversee."
        }
    };
}

<link href="~/Content/CSS/Dinners.min.css" rel="stylesheet" />

@Html.Partial("_Carousel", carousel)

<article class="dinners inner-6em">
    <h3>
        Dinners, Charity Balls and Receptions
    </h3>
    <ul>
        <li>
            Glenn has a wealth of experience in running both formal and informal dinners.
        </li>
        <li>
            From Masonic Ladies Festivals to White Table; Lions Ladies nights to Rotary dinners.
        </li>
        <li>
            The Professional Toastmaster’s services can be formal, in red tail coat, or informal, in evening suit.
        </li>
        <li>
            The Professional Toastmaster always has your back and ensures that the event is the success you want it to be.
        </li>
        <li>
            As a retired Wing Commander with a wealth of knowledge and experience in military etiquette, Glenn will make sure your function goes according to plan.
        </li>
    </ul>
</article>

<script>
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity(elem, {
        // options
        cellAlign: 'left',
        contain: true
    });
</script>

