@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:400,700');

.main-carousel {
    background-color: hsl(11, 35%, 41%);
    line-height: normal;
    margin-bottom: 50px;

    .carousel-cell {
        width: 100%;
        height: 400px;
        margin-right: 10px;

        .image {
            float: left;
            width: 75%;
        }

        .dinners {
            background-image: url('../Images/ChampagneGlasses.png');
            height: 100%;
        }

        .text {
            color: #fff;
            line-height: 35px;
            font-family: 'Arima Madurai', cursive;
            font-size: 1.3em;
            margin: 0;

            &.for-web {
                position: absolute;
                top: 40%;
                right: 10px;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                padding: 0 20px;
                width: 25%;
            }

            &.for-mobile {
               display: none;
            }

            a {
                color: #fff;
            }

            div {
                margin-top: 5px;
            }

            div:first-child {
                margin-top: 0;
            }
        }

        .responsive {
            display: none;
        }
    }
}

@media screen and (max-width: 736px) {
    .main-carousel {
        .carousel-cell {
            height: 150px;

            .image {
                width: 100%;
            }

            .text {
                font-size: 1.2em;
                line-height: 25px;

                &.for-web {
                    display: none;
                }

                &.for-mobile {
                    display: block;
                    padding: 2px;
                    font-size: 0.9em;
                    margin-left: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .main-carousel {
        .carousel-cell {
            height: 300px;

            .text {
                font-size: 1.3em;
                line-height: 30px;

                &.for-web {
                    top: 45%;
                }
            }

            .dinners {
                background-image: url('../Images/LargeChampagneGlasses.png');
                height: 100%;
            }
        }
    }
}
