@import url("https://fonts.googleapis.com/css?family=Arima+Madurai");
.main-carousel {
  background-color: #8d5144;
  line-height: normal;
  margin-bottom: 50px; }
  .main-carousel .carousel-cell {
    width: 100%;
    /* full width */
    height: 400px;
    /* height of carousel */
    margin-right: 10px; }
    .main-carousel .carousel-cell .image {
      float: left;
      width: 75%; }
    .main-carousel .carousel-cell .dinners {
      background-image: url("../Images/ChampagneGlasses.png");
      height: 100%; }
    .main-carousel .carousel-cell .text {
      color: #fff;
      width: 25%;
      padding: 0 20px;
      line-height: 35px;
      font-family: 'Arima Madurai', cursive;
      font-size: 1.3em;
      margin: 0;
      position: absolute;
      top: 40%;
      right: 10px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .main-carousel .carousel-cell .text a {
        color: #fff; }
      .main-carousel .carousel-cell .text div {
        margin-top: 5px; }
      .main-carousel .carousel-cell .text div:first-child {
        margin-top: 0; }

@media screen and (min-width: 300px) and (max-width: 591px) {
  /* half-width cells for larger devices */
  .main-carousel .carousel-cell {
    height: 150px;
    /* height of carousel */ }
    .main-carousel .carousel-cell .text {
      padding: 6px 19px 0 14px;
      font-size: 0.75em;
      width: 15%; } }

@media screen and (min-width: 592px) and (max-width: 903px) {
  /* half-width cells for larger devices */
  .main-carousel .carousel-cell {
    height: 300px;
    /* height of carousel */ }
    .main-carousel .carousel-cell .dinners {
      background-image: url("../Images/LargeChampagneGlasses.png");
      height: 100%; } }
