.main-carousel {
    background-color: hsl(11, 35%, 41%);
    line-height: normal;
    margin-bottom: 50px;

    .carousel-cell {
        width: 100%; /* full width */
        height: 400px; /* height of carousel */
        margin-right: 10px;

        .image {
            float: left;
            width: 75%;
        }

        .dinners {
            background-image: url('../Images/ChampagneGlasses.png');
            height: 100%;
        }

        .text {
            float: left;
            color: #fff;
            width: 25%;
            padding: 50px 20px 0 20px;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 591px) {
    /* half-width cells for larger devices */
    .main-carousel {
        .carousel-cell {
            height: 150px; /* height of carousel */
            .text {
                padding: 6px 19px 0 14px;
                font-size: 0.75em;
                width: 15%;
            }

            &.dinners {

            }
        }
    }
}

@media screen and (min-width: 592px) and (max-width: 903px) {
    /* half-width cells for larger devices */
    .main-carousel {
        .carousel-cell {
            height: 300px; /* height of carousel */

            .dinners {
                background-image: url('../Images/LargeChampagneGlasses.png');
                height: 100%;
            }
        }
    }
}


