@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:400,700");
.main-carousel {
  background-color: #8d5144;
  line-height: normal;
  margin-bottom: 50px; }
  .main-carousel .carousel-cell {
    width: 100%;
    height: 400px;
    margin-right: 10px; }
    .main-carousel .carousel-cell .image {
      float: left;
      width: 75%; }
    .main-carousel .carousel-cell .dinners {
      background-image: url("../Images/ChampagneGlasses.png");
      height: 100%; }
    .main-carousel .carousel-cell .text {
      color: #fff;
      line-height: 35px;
      font-family: 'Arima Madurai', cursive;
      font-size: 1.3em;
      margin: 0; }
      .main-carousel .carousel-cell .text.for-web {
        position: absolute;
        top: 40%;
        right: 10px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 20px;
        width: 25%; }
      .main-carousel .carousel-cell .text.for-mobile {
        display: none; }
      .main-carousel .carousel-cell .text a {
        color: #fff; }
      .main-carousel .carousel-cell .text div {
        margin-top: 5px; }
      .main-carousel .carousel-cell .text div:first-child {
        margin-top: 0; }
    .main-carousel .carousel-cell .responsive {
      display: none; }

@media screen and (max-width: 736px) {
  .main-carousel .carousel-cell {
    height: 150px; }
    .main-carousel .carousel-cell .image {
      width: 100%; }
    .main-carousel .carousel-cell .text {
      font-size: 1.2em;
      line-height: 25px; }
      .main-carousel .carousel-cell .text.for-web {
        display: none; }
      .main-carousel .carousel-cell .text.for-mobile {
        display: block;
        padding: 2px;
        font-size: 0.9em;
        margin-left: 10px; }
      .main-carousel .carousel-cell .text a {
        text-decoration: underline; } }

@media screen and (max-width: 1024px) {
  .main-carousel .carousel-cell {
    height: 300px; }
    .main-carousel .carousel-cell .text {
      font-size: 1.3em;
      line-height: 30px; }
      .main-carousel .carousel-cell .text.for-web {
        top: 45%; }
      .main-carousel .carousel-cell .text a {
        text-decoration: underline; }
    .main-carousel .carousel-cell .dinners {
      background-image: url("../Images/LargeChampagneGlasses.png");
      height: 100%; } }
