@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:400,700");
.carousel-container {
  background-color: #8d5144;
  line-height: normal;
  margin-bottom: 50px; }
  .carousel-container .next, .carousel-container .prev {
    position: absolute;
    z-index: 10;
    top: 20%;
    font-size: 300%;
    cursor: pointer;
    color: #ff922b; }
  .carousel-container .next {
    right: 1%; }
  .carousel-container .prev {
    left: 1%; }
  .carousel-container .carousel-cell {
    width: 100%;
    height: 400px;
    margin-right: 10px; }
    .carousel-container .carousel-cell .image {
      float: left;
      width: 75%; }
    .carousel-container .carousel-cell .dinners {
      background-image: url("../Images/ChampagneGlasses.png");
      height: 100%; }
    .carousel-container .carousel-cell .text {
      color: #fff;
      line-height: 35px;
      font-family: 'Arima Madurai', cursive;
      font-size: 1.3em;
      margin: 0;
      width: 25%;
      float: right; }
      .carousel-container .carousel-cell .text.for-web {
        padding: 0 20px;
        margin-top: 40px; }
      .carousel-container .carousel-cell .text a {
        color: #fff; }
      .carousel-container .carousel-cell .text div {
        margin-top: 5px; }
      .carousel-container .carousel-cell .text div:first-child {
        margin-top: 0; }
