@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:400,700');

.carousel-container {
    background-color: hsl(11, 35%, 41%);
    line-height: normal;
    margin-bottom: 50px;

    .next, .prev {
        position: absolute;
        z-index: 10;
        top: 20%;
        font-size: 300%;
        cursor: pointer;
        color: #ff922b;
    }

    .next {
        right: 1%;
    }

    .prev {
        left: 1%;
    }

    .carousel-cell {
        width: 100%;
        height: 400px;
        margin-right: 10px;

        .image {
            float: left;
            width: 75%;
        }

        .dinners {
            background-image: url('../Images/ChampagneGlasses.png');
            height: 100%;
        }

        .text {
            color: #fff;
            line-height: 35px;
            font-family: 'Arima Madurai', cursive;
            font-size: 1.3em;
            margin: 0;
            width: 25%;
            float: right;

            &.for-web {
                padding: 0 20px;
                margin-top: 40px;
            }

            a {
                color: #fff;
            }

            div {
                margin-top: 5px;
            }

            div:first-child {
                margin-top: 0;
            }
        }
    }
}
