.modal-dialog {
    margin: 75px auto;
}

    .modal-dialog .modal-header::before {
        display: none;
    }

    .modal-dialog .modal-header::after {
        display: none;
    }

article {
    margin-bottom: 20px;
}

h2 {
    color: #e5474b;
}
