.funerals {
    margin-bottom: 40px;

    div {
        line-height: 1.6em;
        margin-bottom: 0.9em;
    }

    ul {
        margin: 0 0 0.6em 0;
    }

    .container {
        .floated-image--left {
            float: left;
            margin-right: 50px;
            margin-top: 20px;
        }

        .floated-image--right {
            float: right;
            margin-left: 50px;
            margin-top: 20px;
        }
    }

    .photography-header {
        background-image: url('../../Content/Images/Photography.jpg');
        background-color: #f6f6f6;
        background-size: cover;
        background-position: 50% 91%;
        height: 350px;
        margin-bottom: 50px;
    }
}
