.home {
    .inner article {
        margin-bottom: 20px;
    }

    section .inner {
        max-width: 65em;
        width: calc(100% - 6em);
        margin: 0 auto;
    }

    ul {
        margin: 0 100px;

        &.call-to-actions {
            text-align: justify;

            &.actions {
                margin-top: 20px;
                cursor: default;
                list-style: none;
                padding-left: 0;
            }
        }
    }

    ul:after {
        content: '';
        display: inline-block;
        width: 100%;
    }

    .grid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 87% 25% 25% 25%;
        grid-gap: 20px;

        .item {
            img {
                width: 99%;
                border: 10px solid #fceced;
                border-radius: 5px;
            }

            a {
                .heading {
                    background-color: transparent;
                    box-shadow: inset 0 0 0 2px #e5474b;
                    color: #e5474b;
                    width: 100%;
                    border-radius: 5px;
                    border: none;
                    text-transform: uppercase;
                    text-align: center;
                    display: inline-block;
                    text-decoration: none;
                }

                .heading:hover {
                    background: #fceced;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .home {
        ul {
            margin: 0;
        }

        .grid {
            grid-template-columns: 24% 24% 24% 24%;
            grid-gap: 0.75em;
        }
    }
}

@media screen and (max-width: 736px) {
    .home {
        ul {
            margin: 0;
        }

        .grid {
            margin-top: 20px;
            display: grid;
            grid-template-columns: none;
            grid-template-rows: 35% 20% 20%;
        }
    }
}
