.inner article {
    margin-bottom: 20px;
}

section .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
}

ul {
    margin: 0 100px;

    &.call-to-actions {
        text-align: justify;

        &.actions {
            margin-top: 20px;
            cursor: default;
            list-style: none;
            padding-left: 0;
        }
    }
}

ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    ul {
        margin: 0;
    }
}

@media screen and (max-width: 736px) {
    ul {
        margin: 0;
    }
}
