nav {
  position: absolute;
  right: 5px;
  top: 23px;
  padding-right: 5px; }
  nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden; }
  nav li {
    float: left; }
  nav li a, nav .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0 5px;
    text-decoration: none; }
  nav li a:hover, nav .submenu:hover .dropbtn {
    background-color: red;
    text-decoration: none; }
  nav li.submenu {
    display: inline-block; }
  nav .submenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  nav .submenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  nav .submenu-content a:hover {
    background-color: #f1f1f1; }
  nav .submenu:hover .submenu-content {
    display: block; }

.glenn-title {
  position: absolute;
  top: 15px;
  left: 35%;
  padding: 0;
  font-size: 245%;
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-weight: normal; }

.toastmaster-logo {
  margin: 0 0 0 10px;
  padding: 0;
  font-size: 100%;
  color: #fff;
  position: absolute;
  top: 48px; }

