.speech-writing-header {
  background-image: url("../Images/SpeechWriting.jpeg");
  background-color: #f6f6f6;
  background-size: cover;
  background-position: 50% 91%;
  height: 350px;
  margin-bottom: 50px; }

.speech-writing div {
  line-height: 1.6em;
  margin-bottom: 20px; }

.speech-writing ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0; }

.speech-writing li {
  list-style: none;
  padding: 0;
  margin: 0; }

.speech-writing li::before {
  content: "\2756";
  padding-right: 8px;
  color: #7b2715; }
