.speech-writing-header {
  background-image: url("../Images/SpeechWriting.jpeg");
  background-color: #f6f6f6;
  background-size: cover;
  background-position: 50% 91%;
  height: 350px;
  margin-bottom: 50px; }

.speech-writing div {
  line-height: 1.6em;
  margin-bottom: 20px; }
