.testimonials-header {
    background-image: url('../../Content/Images/Testimonial.jpg');
    background-color: #f6f6f6;
    background-size: cover;
    background-position: 50% 70%;
    height: 350px;
    margin-bottom: 50px;
}

.testimonial-header--text {
    position: absolute;
    color: #fff;
    top: 18%;
    left: 38%;
    font-size: 265%;
    letter-spacing: 8px;
}

.testimonials {
    margin: 0 10% 40px 10%;

    .testimonials-content {
        .testimonial {
            position: relative;
            float: left;

            &.small {
                width: 10%;
            }

            &.medium {
                width: 30%;
                margin: 0 4% 4% 0;
            }

            &.large {
                width: 50%;
                margin: 0 4% 4% 0;
            }

            blockquote {
                quotes: none;
                padding: 10px;
                border: none;
                font-size: 95%;
                background-color: #f6f6f6;
                font-style: italic;

                q {
                    background-color: #f6f6f6;
                }
            }

            .client {
                position: relative;
                margin-top: 10px;
            }

            .client:before {
                content: "";
                display: block; /* reduce the damage in FF3.0 */
                position: absolute;
                left: 50px;
                top: -10px;
                width: 0;
                border-width: 15px 15px 0;
                border-style: solid;
                border-color: #f6f6f6 transparent;
            }
        }
    }

    .green {
        color: #86a8a5;

        &.bold {
            font-weight: bold;
        }
    }

    .purple {
        color: #9061a5;

        &.bold {
            font-weight: bold;
        }
    }
}
