@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:400,700");
.testimonials-header {
  background-image: url("../Images/Testimonial.jpeg");
  background-color: #f6f6f6;
  background-size: cover;
  background-position: 50% 70%;
  height: 350px;
  margin-bottom: 50px; }

.testimonial-header--text {
  position: absolute;
  color: #fff;
  top: 3%;
  left: 38%;
  font-size: 265%;
  letter-spacing: 8px;
  font-family: 'Arima Madurai', cursive; }

.testimonials {
  margin: 0 10% 40px 10%; }
  .testimonials .testimonials-content .testimonial {
    position: relative;
    float: left; }
    .testimonials .testimonials-content .testimonial.small {
      width: 10%; }
    .testimonials .testimonials-content .testimonial.medium {
      width: 25%;
      margin: 0 4% 4% 0; }
    .testimonials .testimonials-content .testimonial.large {
      width: 45%;
      margin: 0 4% 4% 0; }
    .testimonials .testimonials-content .testimonial blockquote {
      quotes: none;
      padding: 10px;
      border: none;
      font-size: 95%;
      background-color: #f6f6f6;
      font-style: italic;
      padding: 20px; }
      .testimonials .testimonials-content .testimonial blockquote q {
        background-color: #f6f6f6; }
    .testimonials .testimonials-content .testimonial .client {
      position: relative;
      margin-top: 10px; }
    .testimonials .testimonials-content .testimonial .client:before {
      content: "";
      display: block;
      /* reduce the damage in FF3.0 */
      position: absolute;
      left: 50px;
      top: -16px;
      width: 0;
      border-width: 15px 15px 0;
      border-style: solid;
      border-color: #f6f6f6 transparent; }
  .testimonials .green {
    color: #86a8a5; }
    .testimonials .green.bold {
      font-weight: bold; }
  .testimonials .purple {
    color: #9061a5; }
    .testimonials .purple.bold {
      font-weight: bold; }
  .testimonials .coral {
    color: #eb6547; }
    .testimonials .coral.bold {
      font-weight: bold; }
  .testimonials .burnt-orange {
    color: #83220c; }
    .testimonials .burnt-orange.bold {
      font-weight: bold; }

@media screen and (max-width: 736px) {
  .testimonial-header--text {
    top: 2%; }
  .testimonials .testimonials-content .testimonial.small {
    width: 100%; }
  .testimonials .testimonials-content .testimonial.medium {
    width: 100%; }
  .testimonials .testimonials-content .testimonial.large {
    width: 100%; } }
