
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:400,700');

.testimonials-header {
    background-image: url('../../Content/Images/Testimonial.jpeg');
    background-color: #f6f6f6;
    background-size: cover;
    background-position: 50% 70%;
    height: 350px;
    margin-bottom: 50px;
}

.testimonial-header--text {
    position: absolute;
    color: #fff;
    top: 3%;
    left: 38%;
    font-size: 265%;
    letter-spacing: 8px;
    font-family: 'Arima Madurai', cursive;
}

.testimonials {
    margin: 0 10% 40px 10%;
    font-size: 1.2em;

    .testimonials-content {
        .testimonial {
            position: relative;
            float: left;

            &.small {
                width: 10%;
            }

            &.medium {
                width: 25%;
                margin: 0 4% 4% 0;
            }

            &.large {
                width: 45%;
                margin: 0 4% 4% 0;
            }

            blockquote {
                quotes: none;
                padding: 10px;
                border: none;
                font-size: 95%;
                background-color: #f6f6f6;
                padding: 20px;

                q {
                    background-color: #f6f6f6;
                }
            }

            .client {
                position: relative;
                margin-top: 10px;
            }

            .client:before {
                content: "";
                display: block; /* reduce the damage in FF3.0 */
                position: absolute;
                left: 50px;
                top: -16px;
                width: 0;
                border-width: 15px 15px 0;
                border-style: solid;
                border-color: #f6f6f6 transparent;
            }
        }
    }

    .green {
        color: #86a8a5;

        &.bold {
            font-weight: bold;
        }
    }

    .purple {
        color: #9061a5;

        &.bold {
            font-weight: bold;
        }
    }

    .coral {
        color: hsl(11, 80%, 60%);

        &.bold {
            font-weight: bold;
        }
    }

    .burnt-orange {
        color: hsl(11,83%,28%);


        &.bold {
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 736px) {
    .testimonial-header--text {
        top: 2%;
    }

    .testimonials {
        .testimonials-content {
            .testimonial {

                &.small {
                    width: 100%;
                }

                &.medium {
                    width: 100%;
                }

                &.large {
                    width: 100%;
                }
            }
        }
    }
    }