.venues .venues--search {
  margin-bottom: 20px; }

.venues .external-link {
  font-weight: bold;
  border-bottom: 1px solid #dbdbdb;
  color: #e5474b;
  font-weight: bold;
  text-transform: initial;
  cursor: pointer;
  font-size: 100%;
  text-decoration: none; }
  .venues .external-link label {
    cursor: pointer; }

.venues p {
  margin: 0; }

.venues h2 {
  margin-bottom: 20px; }

.venues h3 {
  font-weight: 700;
  margin: 1em 0 0.1em 0;
  color: #bb6369;
  text-transform: initial; }
  .venues h3:first-child {
    margin-top: 0; }

.venues .fa-license-link {
  margin-top: 40px;
  font-size: 0.75em; }
