.venues {
  width: 50%;
  margin: auto; }

.venues--search {
  margin-bottom: 20px; }

label {
  color: #e5474b;
  margin: 0;
  font-weight: normal;
  text-transform: initial;
  text-decoration: underline;
  display: block;
  cursor: pointer;
  font-size: 100%; }

p {
  margin: 0; }

h2 {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 30px; }

h3 {
  font-weight: 700;
  margin: 1em 0 0.1em 0;
  color: #bb6369;
  text-transform: initial; }
  h3:first-child {
    margin-top: 0; }
