
@{
    ViewBag.Title = "FAQ";
}

<link href="~/Content/CSS/FAQ.css" rel="stylesheet" />

<section>
    <article class="inner-50em">
        <h2>Frequently Asked Questions</h2>
        <article class="click" data-question-id="1" data-toggle="modal" data-target="#myModal">
            <a href="#">What is a toastmaster?</a>
        </article>
        <article class="click" data-question-id="2" data-toggle="modal" data-target="#myModal">
            <a href="#">What does a Toastmaster do before the event?</a>
        </article>
        <article class="click" data-question-id="3" data-toggle="modal" data-target="#myModal">
            <a href="#">What does a Toastmaster do on the day?</a>
        </article>
        <article class="click" data-question-id="4" data-toggle="modal" data-target="#myModal">
            <a href="#">Why do I need a toastmaster?</a>
        </article>
        <article class="click" data-question-id="5" data-toggle="modal" data-target="#myModal">
            <a href="#">Who uses a Toastmaster?</a>
        </article>
        <article class="click" data-question-id="6" data-toggle="modal" data-target="#myModal">
            <a href="#">How else can a professional Toastmaster be able to help?</a>
        </article>
        <article class="click" data-question-id="7" data-toggle="modal" data-target="#myModal">
            <a href="#">Can a professional Toastmaster help at a School Prom?</a>
        </article>
        <article class="click" data-question-id="8" data-toggle="modal" data-target="#myModal">
            <a href="#">Can we see a Toastmaster before we book them?</a>
        </article>
        <article class="click" data-question-id="9" data-toggle="modal" data-target="#myModal">
            <a href="#">Should we ask for references from a professional Toastmaster?</a>
        </article>
    </article>
</section>

<script class="answer answer1" type="text/template">
    <p>
        A toastmaster is unique to English tradition. In his distinctive red tailcoat and regalia, his services are as relevant today as they were in the 18th century when it all first started. As well as adding style, distinction and image to any formal or informal occasion, today’s toastmaster relieves the host of worry and stress, ensuring the smooth running of the event. Offering the traditional services of greeting and announcing guests, as well as introducing speeches and toasts, the toastmaster combines these with the role of advisor, organiser, presenter, communicator and diplomat.
    </p>
    <p>
        A good toastmaster will be trained and hold some independent credentials, as well as belonging to a recognized association. Glenn Mayes is such a toastmaster.
    </p>
</script>

<script class="answer2" type="text/template">
    <p>For your event you can expect a professional toastmaster to undertake a wide range of duties, as appropriate to the occasion and to your wishes and requirements.</p>
    <p>
        Before the Event Glenn Mayes will provide the following:
    </p>
    <ul>
        <li>Initial meeting to discuss with you well in advance your plans for the event</li>
        <li> Offer advice on tradition, protocol and etiquette</li>
        <li> Provide hints and tips for those who are to speak, or have other roles to play</li>
        <li> Final event briefing 7 – 10 days before the function</li>
        <li>A pre-visit to the venue chosen, where possible.</li>
    </ul>
</script>

<script class="answer3" type="text/template">
    <p>On the Day you can expect Glenn to:</p>
    <ul>
        <li>Arrive at the venue early for a thorough check of all the arrangements on your behalf</li>
        <li>Liaise with organisers, caterers, photographer, videographer, entertainers and all others involved</li>
        <li>Greet and direct the host(s) and guests on arrival</li>
        <li> Assist with organising photographs with the photographer</li>
        <li>Arrange the Receiving Line and introduce guests</li>
        <li>Announce notices and call to dine</li>
        <li>Announce, encourage and lead in the Top Table guests</li>
        <li> Announce the Bride and Bridegroom and escort them to the top table</li>
        <li> Announce or say grace before meals if required</li>
        <li>Supervise circulation of guest book</li>
        <li>Prepare and announce speakers, toasts and other ceremonies as required</li>
        <li>Keep a watchful eye and deal discreetly with any matters that may require attention.</li>
        <li>Personally support hosts, bride or bridegroom, guests in any way required.</li>
        <li>Announce and encourage photos of cake cutting</li>
        <li>Meet / greet evening reception guests</li>
        <li>Announce & encourage first dance</li>
        <li>Act as Master of Ceremonies, auctioneer or compère as required and conclude the formalities.</li>
        <li>Conduct the toasts, introduce the speakers and handle bouquets and presents as required</li>
        <li>Organise the circulation of the guest book</li>
        <li>Arrange the retiring of the Bride and Bridegroom from the table and advise guests of subsequent arrangements</li>
        <li>Liaise with the musician or DJ as to the setting up of the equipment</li>
        <li>Announce the Bride and Bridegroom for the first dance</li>
    </ul>
</script>

<script class="answer4" type="text/template">
    <p>
        You don’t. However, on the day the obvious visual impact of his appearance in full traditional regalia, complete with red tailcoat and white gloves and his friendly calming manner, immediately puts you and your guests at ease. Your guests, venue staff and other agents have a reassuring point of reference.  Having a toastmaster sends a clear message that you have taken your event and your guests comfort seriously, by appointing a professional. Announcements and introductions are made in the appropriate style; formally or informally, as the occasion requires. Announcements are made with accuracy, brevity and clarity appropriate to the event.
    </p>
    <p>
        The toastmaster liaises with the venue staff and any other suppliers involved, utilising his organisational skills, ensuring everything happens when it should. He supports and encourages all those with a part to play in the proceedings, instilling confidence and providing a calming influence. Your event runs smoothly and to time. Overall, you and your guests can relax and enjoy your event, without stress or worry.
    </p>
    <p>
        Much of the value a professional toastmaster brings to your event is being unobtrusive and discreet, yet providing full support to the hosts during the event. This should be your event not the toastmasters! There is nothing the toastmaster does that could not be done by a combination of other parties (best man, brides father, ushers), however it really depends if you want your relatives, friends and guests working for you on the day or to actually relax, share and simply enjoy your special occasion! You choose.
    </p>
</script>

<script class="answer5" type="text/template">
    <p>Anyone can call on the services of a professional Toastmaster. Events such as: </p>
    <ul>
        <li>Wedding receptions of practically every culture</li>
        <li>School Prom Nights</li>
        <li>Corporate Dinners and Dinner Dances</li>
        <li>Themed Banquets and Gala Balls</li>
        <li>Masonic Ladies Festivals and Receptions</li>
        <li>Rotary Club and Round Table Functions</li>
        <li>Birthday Parties, Bar mitzvahs and Anniversaries</li>
        <li>Cocktail Parties, Civic Lunches and Banquets</li>
        <li>Award Ceremonies and Conferences</li>
        <li>Official Openings or Product Launches</li>
        <li>“Topping Out” Ceremonies</li>
        <li>Charity Events – Auctions</li>
    </ul>
</script>

<script class="answer6" type="text/template">
    <ul>
        <li>Master of ceremonies</li>
        <li>Presenter</li>
        <li>Diplomat</li>
        <li>Substitute host</li>
        <li>Compere</li>
        <li>Co-ordinator</li>
        <li>Consultant in procedure, etiquette and protocol</li>
        <li>Assistance with Speeches / Responses</li>
    </ul>
</script>

<script class="answer7" type="text/template">
    <p>Absolutely!</p>

    <p>As with any event, a professional Toastmaster is invaluable in the smooth running of the occasion, pre-empting problems and finding solutions.  They can co-ordinate, host, present, compere or advise on procedure, etiquette and protocol.</p>
</script>

<script class="answer8" type="text/template">
    <p>Yes.</p>
    <p>
        They are often at Wedding Fairs – Glenn Mayes regularly meets and greets visitors and can be seen in a working environment.
    </p>
</script>

<script class="answer9" type="text/template">
    <p>Yes.</p>
    <p>
        A good Toastmaster will be able to provide you with a number of references – just ask to see them.Glenn Mayes has a number of testimonials on his website.
    </p>
</script>

<!-- Modal -->
@*<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">*@

<!-- Modal content-->
@*<div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <label class="modal-title">Modal Header</label>
        </div>
        <div class="modal-body">
            <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>*@

@*</div>
    </div>*@
<!-- The Modal -->
<div class="modal-overlay closed" id="modal-overlay"></div>

<div class="modal closed" id="modal">
    <button class="close-button" id="close-button">X</button>
    <div class="modal-content">
        <div class="modal-title"></div>
        <div class="modal-body"></div>
    </div>
</div>

<script>
    //var modal = document.getElementById('myModal');
    //// Get the <span> element that closes the modal
    //var span = document.getElementsByClassName("close")[0];

    //// When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target === modalOverlay) {
            modal.classList.toggle("closed");
            modalOverlay.classList.toggle("closed");
        }
    };

    //// When the user clicks on <span> (x), close the modal
    //span.onclick = function () {
    //    modal.style.display = "none";
    //};

    $('.click').off('click').on('click', function () {
        var quHtml = $(this).text();
        var quId = $(this).data().questionId;
        var ansHtml = $('.answer' + quId).html();
        $('.modal-title').html(quHtml);
        $('.modal-body').html(ansHtml);
        modal.classList.toggle("closed");
        modalOverlay.classList.toggle("closed");
    });
    var modal = document.querySelector("#modal");
    var modalOverlay = document.querySelector("#modal-overlay");
    var closeButton = document.querySelector("#close-button");

    closeButton.addEventListener("click", function () {
        modal.classList.toggle("closed");
        modalOverlay.classList.toggle("closed");
    });
</script>
