
EssexCelebrant/bin/roslyn/System.Security.Cryptography.Primitives.dll
EssexCelebrant/bin/roslyn/System.Reflection.Metadata.dll
EssexCelebrant/bin/roslyn/System.IO.FileSystem.Primitives.dll
EssexCelebrant/bin/roslyn/System.IO.FileSystem.dll
EssexCelebrant/bin/roslyn/System.Collections.Immutable.dll
EssexCelebrant/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
EssexCelebrant/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
EssexCelebrant/bin/roslyn/Microsoft.CodeAnalysis.dll
EssexCelebrant/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
.vs/EssexCelebrant/v15/Server/sqlite3/storage.ide-wal
.vs/EssexCelebrant/v15/Server/sqlite3/storage.ide-shm
.vs/EssexCelebrant/v15/Server/sqlite3/storage.ide
.vs/EssexCelebrant/v15/Server/sqlite3/db.lock
.vs/EssexCelebrant/v15/.suo
EssexCelebrant/bin/roslyn/System.ValueTuple.dll
EssexCelebrant/bin/roslyn/VBCSCompiler.exe
