
**/v15
v15/
*.suo
**/sqlite3
.vs/EssexCelebrant/v15/Server/sqlite3/storage.ide-wal
.vs/EssexCelebrant/v15/Server/sqlite3/storage.ide-shm
.vs/EssexCelebrant/v15/Server/sqlite3/storage.ide
.vs/EssexCelebrant/v15/Server/sqlite3/db.lock
.vs/EssexCelebrant/DesignTimeBuild/.dtbcache
.vs/config/applicationhost.config
**/[Oo]bj/
[Oo]bj/
EssexCelebrant/bin/
EssexCelebrant/**/obj/