
@using EssexCelebrant.Models.Carousel;

@model List<Carousel>

<link href="~/Content/CSS/Carousel.min.css" rel="stylesheet" />
@*<link href="~/Content/CSS/3rd Party/flickity.css" rel="stylesheet" />
    <script src="~/Content/Scripts/3rdParty/Flickity/flickity.pkgd.min.js"></script>*@

<script src="~/Content/Scripts/3rdParty/Slick/slick.min.js"></script>

@if (!Model.Any())
{
    return;
}

<div class="main-carousel">
    <div class="main-carouselx" style="margin: auto 50px; width: 90%;">
        @foreach (var m in Model)
        {
        <div>
            <img src="@m.Image" style="float: left; width: 50%;" />
            <div style="float: right; width: 49%;">test</div>
        </div>
        }
    </div>
</div>
