
@{
    ViewBag.Title = "Independent Celebrant";
}

<link href="~/Content/CSS/Celebrant.min.css" rel="stylesheet" />

<section>
    <article class="inner-6em celebrant">
        <article class="container clearfix">
            <div class="floated-image right"><img src="~/Content/Images/Photography - small.jpg" /></div>
            Couples who do not want, or cannot have, a traditional religious ‘wedding’ ceremony, frequently feel their only option is the standard civil ceremony conducted by a local authority registrar. Yet, once you have fulfilled the legal requirements, there is nothing to prevent you having a individually personalised ceremony written specifically for you. Written and delivered for you to celebrate your love and public commitment to each other.
        </article>
        <article class="container clearfix">
            <div class="floated-image left"><img src="~/Content/Images/BabyFeet.png" /></div>
            Currently in England and Wales, you have to legally register your marriage or partnership at a registry office and make the statutory declarations before two witnesses. This could be done in a lunch-time on the day / or during the week before your chosen ‘celebration’ day!
        </article>
        <article class="container clearfix">
            <div class="floated-image right"><img src="~/Content/Images/Lily.jpeg" /></div>
            Once legally registered – you could hold a special ceremony anywhere you choose with family and friends! With your words, your music, your texts or readings (religious or otherwise), your speakers, your exchange of rings - your way, your place, your pace!.
            Perhaps you each come from different religious roots and a specific religious venue is proving difficult. Why not have a special ceremony that combines both back-grounds.  Include songs, prayer, poems or texts that express and bring together your different, individual spiritual beliefs.
        </article>
        <article class="container clearfix">
            <div class="floated-image left"><img src="~/Content/Images/Quill.png" /></div>
            If you are already married and would like to celebrate a special anniversary, or a new stage in your marriage or relationship, by renewing their vows, I can create a bespoke ceremony to meet your needs.
        </article>
    </article>

    <article class="inner-6em">
        <h3>
            Independent Celebrant
        </h3>
        <article>
            For weddings, where you wish to have hymns or prayers, however do not want to marry in church or licenced venue, ask about the services of an Independent Celebrant.
        </article>
        <article>
            For more information, please <a href="Celebrant">click here</a>.
        </article>
    </article>
</section>
