
@{
    ViewBag.Title = "Independent Celebrant";
}

<section>
    <article>
        Couples who do not want, or cannot have, a traditional religious ‘wedding’ ceremony, frequently feel their only option is the standard civil ceremony conducted by a local authority registrar. Yet, once you have fulfilled the legal requirements, there is nothing to prevent you having a individually personalised ceremony written specifically for you. Written and delivered for you to celebrate your love and public commitment to each other.
    </article>
    <article>
        Currently in England and Wales, you have to legally register your marriage or partnership at a registry office and make the statutory declarations before two witnesses. This could be done in a lunch-time on the day / or during the week before your chosen ‘celebration’ day!
    </article>
    <article>
        Once legally registered – you could hold a special ceremony anywhere you choose with family and friends! With your words, your music, your texts or readings (religious or otherwise), your speakers, your exchange of rings - your way, your place, your pace!.
        Perhaps you each come from different religious roots and a specific religious venue is proving difficult. Why not have a special ceremony that combines both back-grounds.  Include songs, prayer, poems or texts that express and bring together your different, individual spiritual beliefs.
    </article>
    <article>
        If you are already married and would like to celebrate a special anniversary, or a new stage in your marriage or relationship, by renewing their vows, I can create a bespoke ceremony to meet your needs.
    </article>
</section>
