@{
    ViewBag.Title = "About Me";
}

<section class="inner-6em">
    <h3>About Me</h3>
    <article>
        The East Anglia Toastmaster and Essex Celebrant is based near Maldon in Essex.
    </article>
    <h3>East Anglia Toastmaster</h3>
    <ul>
        <li>Glenn travels across East Anglia as well as London and the South East, with many venues being familiar.</li>
        <li>With over fifeen years experience in weddings there is not much he has not done.</li>
        <li>Glenn is a founder member, and past president of the Association of the UK School of Professional Toastmasters, with whom he trained.  The Association is affiliated to the Toastmasters General Council, giving Glenn a 5m Public Liability insurance cover.  Please ask to see this.</li>
        <li>Glenn offers the highest standard of wedding service, liaising with other professions, like photographers, florists, wedding caterers and musicians, to ensure the smooth running of a function.</li>
        <li>All aspects of planning are undertaken with full protocols complied with as appropriate.</li>
        <li>All responsibilities are undertaken from the smallest of things, like carrying a sewing kit, to making certain that the event runs smoothly.</li>
        <li>To avoid disappointment, please book early.</li>
        <li>For Saturday weddings – please book up to 18 months before your day.</li>
    </ul>

    <h3>The Essex Celebrant</h3>
    <ul>
        <li>Glenn trained initially as an Independent Funeral Celebrant with White Lily Training Academy in 2009.  He added a Certificate in “Marriage and Family Celebrancy” with the UK College of Celebrancy in 2010. He also gained a Certificate in “Supporting Parents following death of Baby” from Child Bereavement UK in 2015.</li>
        <li>Alongside his own training, Glenn has been a Celebrant trainer for the Association of Independent Celebrants and the Fellowship of Independent Celebrants.</li>
        <li>If you would like to discuss your wedding ceremony, please call me.</li>
        <li>Glenn is a member of the Fellowship of Professional Celebrants with Public Liability Insurance of £5M and Professional and Personal Liability Insurance of £1M.</li>
        <li>Glenn has experience of conducting formal and informal wedding ceremonies as well as funeral celebrations.</li>
        <li>
            Glenn publishes his Independent Funeral Celebrancy Fees every January.  Please ask for a copy or 
            <a href="~/Assets/Files/Toastmaster Booking form with T&C 2018-2020.pdf" target="_blank">download here</a>.
        </li>
        <li>If you would like to book Glenn for a funeral service, call or email, or ask your Funeral Director to make contact.</li>
    </ul>
</section>
