@{
    ViewBag.Title = "About Me";
}

<section>
    <section class="inner">
        <h3>About Me</h3>
        <article>
            The East Anglia Toastmaster and Essex Celebrant is based near Maldon in Essex.
        </article>
        <h3>East Anglia Toastmaster</h3>
        <article>
            Glenn travels across East Anglia as well as London and the South East, with many venues being familiar.
        </article>
        <article>
            With over fifeen years experience in weddings there is not much he has not done.
        </article>
        <article>
            Glenn is a founder member, and past president of the Association of the UK School of Professional Toastmasters, with whom he trained.  The Association is affiliated to the Toastmasters General Council, giving Glenn a 5m Public Liability insurance cover.  Please ask to see this.
        </article>
        <article>
            Glenn offers the highest standard of wedding service, liaising with other professions, like photographers, florists, wedding caterers and musicians, to ensure the smooth running of a function.
        </article>
        <article>
            All aspects of planning are undertaken with full protocols complied with as appropriate.
        </article>
        <article>
            All responsibilities are undertaken from the smallest of things, like carrying a sewing kit, to making certain that the event runs smoothly.
        </article>
        <article>
            To avoid disappointment, please book early.
        </article>
        <article>
            For Saturday weddings – please book up to 18 months before your day.
        </article>
    </section>
    <section class="inner">
        <h3>The Essex Celebrant</h3>
        <article>
            Glenn trained initially as an Independent Funeral Celebrant with White Lily Training Academy in 2009.  He added a Certificate in “Marriage and Family Celebrancy” with the UK College of Celebrancy in 2010. He also gained a Certificate in “Supporting Parents following death of Baby” from Child Bereavement UK in 2015.
        </article>
        <article>
            Alongside his own training, Glenn has been a Celebrant trainer for the Association of Independent Celebrants and the Fellowship of Independent Celebrants.
        </article>
        <article>
            If you would like to discuss your wedding ceremony, please call me.
        </article>
        <article>
            Glenn is a member of the Fellowship of Professional Celebrants with Public Liability Insurance of £5M and Professional and Personal Liability Insurance of £1M.
        </article>
        <article>
            Glenn has experience of conducting formal and informal wedding ceremonies as well as funeral celebrations.
        </article>
        <article>
            Glenn publishes his Independent Funeral Celebrancy Fees every January.  Please ask for a copy or download here ******.
        </article>
        <article>
            If you would like to book Glenn for a funeral service, call or email, or ask your Funeral Director to make contact.
        </article>
    </section>
</section>
