<section>
    <article class="inner">
        <h3>@ViewBag.Message</h3>
        <address>
            Glenn Mayes<br />
            4 Brockley Cottages,<br />
            Ulting, Maldon,<br />
            Essex CM9 6QX <br />
            <abbr title="Phone">Tel:</abbr>
            <a href="01245381577">01245 381577</a> <br />
            <abbr title="Phone">Mob:</abbr>
            07826 33 94 98
        </address>

        <address>
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">the.toastmaster@btinternet.com</a>
        </address>
    </article>
</section>