@{
    ViewBag.Title = "Home";
}
@*<link href="~/Content/CSS/3rd Party/flickity.css" rel="stylesheet" />
<script src="~/Content/Scripts/3rdParty/Flickity/flickity.pkgd.min.js"></script>*@
<link href="~/Content/CSS/home.css" rel="stylesheet" />

<!-- Banner -->
@*<div class="main-carousel">
    <div class="carousel-cell">
        <img src="~/Content/Images/Glenn-Headshot1.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="~/Content/Images/Pimms on ice.jpg" />
    </div>
</div>*@

<!-- One -->
<section id="one">
    <div class="inner">
        <header>
            <h2>Magna Etiam Lorem</h2>
        </header>
        <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu, erisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante.</p>
        <ul class="actions">
            <li><a href="#" class="button alt">Learn More</a></li>
        </ul>
    </div>
</section>

<!-- Two -->
<section id="two">
    <div class="inner">
        <article>
            <div class="content">
                <header>
                    <h3>Pellentesque adipis</h3>
                </header>
                <div class="image fit">
                    <img src="~/Content/Images/pic01.jpg" />
                </div>
                <p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
            </div>
        </article>
        <article class="alt">
            <div class="content">
                <header>
                    <h3>Morbi interdum mol</h3>
                </header>
                <div class="image fit">
                    <img src="~/Content/Images/pic02.jpg" />
                </div>
                <p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
            </div>
        </article>
    </div>
</section>

<!-- Three -->
<section id="three">
    <div class="inner">
        <article>
            <div class="content">
                <span class="icon fa-laptop"></span>
                <header>
                    <h3>Tempus Feugiat</h3>
                </header>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna lorem ullamcorper laoreet, lectus arcu.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </div>
        </article>
        <article>
            <div class="content">
                <span class="icon fa-diamond"></span>
                <header>
                    <h3>Aliquam Nulla</h3>
                </header>
                <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </div>
        </article>
        <article>
            <div class="content">
                <span class="icon fa-laptop"></span>
                <header>
                    <h3>Sed Magna</h3>
                </header>
                <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </div>
        </article>
    </div>
</section>

@*<script>
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity(elem, {
        // options
        cellAlign: 'left',
        contain: true
    });
</script>*@