@{
    ViewBag.Title = "Home"; 
}

<link href="~/Content/CSS/3rd Party/flickity.css" rel="stylesheet" />
<script src="~/Content/Scripts/3rdParty/Flickity/flickity.pkgd.min.js"></script>
<link href="~/Content/CSS/Carousel.css" rel="stylesheet" />
<link href="~/Content/CSS/Home.min.css" rel="stylesheet" />

<!-- Banner -->
<div class="main-carousel">
    <div class="carousel-cell">
        <div class="image">
            <img src="~/Content/Images/Testimonial.jpeg" style="width: 100%;" />
        </div>
        <div class="text">
            <div>
                Father of the Bride speech causing you problems? Contact me for help with writing, editing and delivering 07826 339498
            </div>
        </div>
        <div style="clear: left;"></div>
    </div>
    <div class="carousel-cell">
        <div class="image">
            <img src="~/Content/Images/ManWithButtonHole.jpeg" style="width: 100%;" />
        </div>
        <div class="text">
            <div>
                From traditional to modern, etiquette assured
            </div>
        </div>
        <div class="clear: left;"></div>
    </div>
    <div class="carousel-cell">
        <div class="image">
            <img src="~/Content/Images/Rings.jpeg" style="width: 100%;" />
        </div>
        <div class="text">
            <div>
                Renewal of vows. Contact me for a unique and bespoke celebration. 07826 339498
            </div>
        </div>
        <div class="clear: left;"></div>
    </div>
    <div class="carousel-cell">
        <div class="image">
            <img src="~/Content/Images/FormalDinner.jpeg" style="width: 100%;" />
        </div>
        <div class="text">
            <div>
                Formal dinner or masonic occasion - contact me to discuss your requirements.
            </div>
        </div>
        <div class="clear: left;"></div>
    </div>
    <div class="carousel-cell">
        <div class="image">
            <img src="~/Content/Images/MilitaryWedding.jpeg" style="width: 100%;" />
        </div>
        <div class="text">
            <div>
                Military weddings, Independant Celebrancy ceremonies - Your ceremony. Your way.
            </div>
        </div>
        <div style="clear: left;"></div>
    </div>
    <div class="carousel-cell">
        <div class="image">
            <img src="~/Content/Images/CorporateEvent.jpeg" style="width: 100%;" />
        </div>
        <div class="text">
            <div>
                Running a high society event and need a Toastmaster that you can rely on? Call me to discuss your requirements. 07826 339498
            </div>
        </div>
        <div style="clear: left;"></div>
    </div>
</div>

<!-- One -->
<section id="one">
    <div class="inner-6em">
        <header>
            <h2>Glenn's Services Here</h2>
        </header>
        <section>
            <article>
                Based near Maldon, Essex, Glenn is able to guide you through your event from writing speeches to ensuring correct protocol and etiquette is considered.
            </article>
        </section>
        <ul class="call-to-actions actions">
            <li><a href="@Url.Action("Index", "SpeechWriting")" class="button alt">Speech writing</a></li>
            <li><a href="@Url.Action("Index", "Favours")" class="button alt">Favours</a></li>
            <li><a href="@Url.Action("Index", "Celebrant")" class="button alt">Celebrant</a></li>
            <li><a href="Home" class="button alt">Toastmaster</a></li>
        </ul>
    </div>
</section>

<!-- Two -->
<section id="two">
    <div class="inner">
        <article>
            <div class="content">
                <header>
                    <h3>Promote a service here</h3>
                </header>
                <div class="image fit">
                    <img src="~/Content/Images/Glenn-Headshot1.jpg" style="height: 250px;" />
                </div>
                <p><i>We can link to another page for more detail. </i>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
            </div>
        </article>
        <article class="alt">
            <div class="content">
                <header>
                    <h3>Promote a service here</h3>
                </header>
                <div class="image fit">
                    <img src="~/Content/Images/ReleasingOfDoves.jpg" style="height: 250px;" />
                </div>
                <p><i>We can link to another page for more detail. </i>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
            </div>
        </article>
    </div>
</section>

<!-- Three -->
@*<section id="three">
    <div class="inner">
        <article>
            <div class="content">
                <header>
                    <h3>Weddings</h3>
                </header>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna lorem ullamcorper laoreet, lectus arcu.</p>
                <ul class="actions">
                    <li><a href="Weddings" class="button alt">Learn More</a></li>
                </ul>
            </div>
        </article>
        <article>
            <div class="content">
                <header>
                    <h3>Independent Celebrant</h3>
                </header>
                <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
                <ul class="actions">
                    <li><a href="Celebrant" class="button alt">Learn More</a></li>
                </ul>
            </div>
        </article>
        <article>
            <div class="content">
                <header>
                    <h3>Funerals</h3>
                </header>
                <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
                <ul class="actions">
                    <li><a href="Weddings" class="button alt">Learn More</a></li>
                </ul>
            </div>
        </article>
    </div>
</section>*@

<script>
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity(elem, {
        // options
        cellAlign: 'left',
        contain: true
    });
</script>
