
@{
    ViewBag.Title = "Testimonials";
}

<link href="~/Content/CSS/Testimonials.css" rel="stylesheet" />

<div style="float: left;">
    <div style="float: left; width: 150px;" class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front" style="border: 1px solid black;">
                <img src="~/Content/Images/envelopebig.jpg" />
            </div>
            <div class="back">
                <img src="~/Content/Images/Essex_Police_Action_Dinner_2007.jpg" style="height: 480px; width: 320px;" />
            </div>
        </div>

    </div>
    <div style="float: left; width: 150px;" class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                Linda and Charles
            </div>
            <div class="back">
                <img src="~/Content/Images/Linda_And_Charles.jpg" />
            </div>
        </div>
    </div>
</div>