
@using EssexCelebrant.Models.Carousel;

@{
    ViewBag.Title = "Funerals";

    var carousel = new List<Carousel>
    {
       new Carousel
       {
           Image = "Content/Images/FuneralDirector.png",
           Line1 = "Text for Glenn's service goes here"
       },
       new Carousel
       {
           Image = "Content/Images/GreenBurial.png",
           Line1 = "Promote one of Glenn's services here"
       },
       new Carousel
       {
           Image = "Content/Images/Casket.png",
           Line1 = "Any promotional text can go here"
       }
    };
}

<link href="~/Content/CSS/3rd Party/flickity.css" rel="stylesheet" />
<script src="~/Content/Scripts/3rdParty/Flickity/flickity.pkgd.min.js"></script>

@Html.Partial("_Carousel", carousel)

<section class="inner-6em">
    Link to <a href="~/Assets/Files/Celebrancy Funeral information sheet back page.pdf" target="_blank">Celebrancy Funeral information sheet</a>
</section>
<section class="inner-6em">
    Lorem ipsum dolor sit amet, vel putent dolorem dissentiunt te. Est vitae affert ei, sed id ornatus civibus, eripuit posidonium ad vim. Enim illum graecis cum et, maluisset cotidieque vel ea. Nominati delicata nec cu, et sit iusto eripuit appetere. Detracto efficiendi scriptorem ut eos, at option qualisque deterruisset duo.
</section>

<script>
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity(elem, {
        // options
        cellAlign: 'left',
        contain: true
    });
</script>
