
@{
    ViewBag.Title = "Index";
}

<h2>Funerals</h2>
<section>
    <section class="inner">
        Lorem ipsum dolor sit amet, vel putent dolorem dissentiunt te. Est vitae affert ei, sed id ornatus civibus, eripuit posidonium ad vim. Enim illum graecis cum et, maluisset cotidieque vel ea. Nominati delicata nec cu, et sit iusto eripuit appetere. Detracto efficiendi scriptorem ut eos, at option qualisque deterruisset duo.
    </section>
</section>