
@{
    ViewBag.Title = "GDPR";
}

<section class="inner-6em">
    <h2>
        The Essex Celebrant & East Anglia Toastmaster Privacy Policy Notice
    </h2>
    <p>
        <h3>The policy</h3>This privacy policy notice is served by The Essex Celebrant and East Anglia Toastmaster of 4 Brockley Cottages, Ulting, Maldon CM9 6QX under the website: <a href="http://www.east-anglia-toastmaster.com" target="_blank">www.east-anglia-toastmaster.com</a> and <a href="http://www.essexcelebrant.co.uk" target="_blank">www.essexcelebrant.co.uk</a>. The purpose of this policy is to explain to you how we control, process, handle and protect your personal information through the business and while you browse or use this website. If you do not agree to the following policy you may wish to cease viewing / using this website, and or refrain from submitting your personal data to us.
    </p>
    <p>
        <h3>Policy key definitions</h3>
        <ul>
            <li>
                "I", "our", "us", or "we" refer to the business, East Anglia Toastmaster and or Essex Celebrant.
            </li>

            <li>"you", "the user" refer to the person(s) using this website.</li>

            <li>GDPR means General Data Protection Act.</li>

            <li>PECR means Privacy & Electronic Communications Regulation.</li>

            <li>ICO means Information Commissioner's Office.</li>

            <li>Cookies mean small files stored on a users computer or device.</li>
        </ul>
    </p>
    <p>
        <h3>Key principles of GDPR</h3>

        Our privacy policy embodies the following key priciples; (a) Lawfullness, fairness and transpatrency, (b) Purpose limitation, (c) Data minimisation, (d) Accurancy, (e) Storage limitation, (f) Integrity and confidence, (g) Accountability.
    </p>

    <p>
        <h3>Processing of your personal data</h3>

        Under the GDPR (General Data Protection Regulation) we control and / or process any personal information about you electronically using the following lawful bases.
    </p>

    <p>
        <ul>
            <li>We are registered with the ICO under the Data Protection Register, our registration number is: A8336908</li>

            <li>
                Lawful basis: Consent <br />
                <strong>Where our purpose for processing is</strong>: to keep clients informed of services we offer<br />
                <strong>Which is necessary because</strong>: clients have opted to be kept informed of our services and any offers we may have from time to time. This information is only kept until either the client asks for it to be deleted or it

                is electronically cleaned every 12 months.<br />
                <strong>We process your information in the following ways</strong>: via email, text message and mailchimp
            </li>

            <li><strong>We will collect your name, address, mobile number and email address.</strong></li>

            <li>
                <strong>Data retention period</strong>: We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists. We will check with all our clients on our lists every 12 months.
            </li>

            <li>
                <strong>Sharing your information</strong>: We do share your personal information with third parties, with your consent, and they include however, not limited to;
                <ul>
                    <li>Funeral directors</li>
                    <li>Wedding co-Ordinators</li>
                    <li>Venue organisers</li>
                    <li>Catering suppliers</li>
                    <li>Other service suppliers</li>
                    <li>Only in the pursuance of our services to you.</li>
                </ul>
            </li>
        </ul>
    </p>

    <p>
        <ul>
            <li>
                <strong>Lawful basis</strong>: Contract<br />
                <strong>Where our purpose for processing is</strong>: to undertake our accounting requirements and fulfill out contract with you as a client<br />
                <strong>Which is necessary because</strong>: to undertake our obligations to you as our client; comply with the requirements of HMRC on accounting<br />
                <strong>We process your information in the following ways</strong>: email, Mailchimp, text message<br />
                <strong>We will collect your name, address, mobile number and email address.</strong><br />
                <strong>Data retention period</strong>: We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists. We may have to keep certain information to comply with our obligations to HMRC.<br />
                <strong>Sharing your information</strong>: We do not share your information with third parties.
            </li>

        </ul>
    </p>
    <p>
        <ul>
            <li>
                <strong>Lawful basis</strong>: Legal obligation<br />
                <strong>Where our purpose for processing is</strong>: processing accounts<br />
                <strong>Which is necessary because</strong>: we need to invoice you and keep this information for the purposes of income tax and HMRC requirements.<br />
                <strong>We process your information in the following ways</strong>: use of online Accounting package<br />
                <strong>Data retention period</strong>: We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists. Information will be held for a period of 6 years in line with requirements of the HMRC to hold accounts<br />
                <strong>We will collect your name, address, mobile number and email address.</strong><br />
                <strong>Sharing your information</strong>: We do not share your information with third parties.
            </li>
        </ul>
    </p>

    <p>If, as determined by us, the lawful basis upon which we process your personal information changes, we will notify you about the change and any new lawful basis to be used if required. We shall stop processing your personal information if the lawful basis used is no longer relevant.</p>

    <p>
        <h3>Your individual rights</h3>
        Under the GDPR your rights are as follows. You can read more about <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights" target="_blank">your rights in details here;</a>
        <ul>
            <li>the right to be informed;</li>
            <li>the right of access;</li>
            <li>the right to rectification;</li>
            <li>the right to erasure;</li>
            <li>the right to restrict processing;</li>
            <li>the right to data portability;</li>
            <li>the right to object; and</li>
            <li>the right not to be subject to automated decision-making including profiling.</li>
        </ul>
    </p>

    <p>
        You also have the right to complain to the <a href="http://www.ico.org.uk" target="_blank">ICO</a> if you feel there is a problem with the way we are handling your data.
    </p>

    <p>We handle subject access requests in accordance with the GDPR.</p>

    <h3>Internet cookies</h3>

    <p>We do not use cookies on this website.</p>

    <p>We do not use a cookie control system and none are saved to your device / computer</p>

    <h3>Data security and protection</h3>
    <p>We ensure the security of any personal information we hold by using secure data storage technologies and precise procedures in how we store, access and manage that information. Our methods meet the GDPR compliance requirement.</p>

    <h3>Fair & Transparent Privacy Explained</h3>

    <p>We have provided some further explanations about user privacy and the way we use this website to help promote a transparent and honest user privacy methodology.</p>

    <h3>Sponsored links, affiliate tracking & commissions</h3>

    <p>Our website does not contain adverts, sponsored and affiliate links on some pages.</p>

    <h3>Email marketing messages & subscription</h3>

    <p>Under the GDPR we use the consent lawful basis for anyone subscribing to our newsletter or marketing mailing list.</p>

    <p>We only collect certain data about you, as detailed in the "Processing of your personal date" above.</p>

    <p>Any email marketing messages we send are done so through an EMS, email marketing service provider. An EMS is a third party service provider of software / applications that allows marketers to send out email marketing campaigns to a list of users.</p>

    <p>Email marketing messages that we send may contain tracking beacons / tracked clickable links or similar server technologies in order to track subscriber activity within email marketing messages. Where used, such marketing messages may record a range of data such as; times, dates, I.P addresses, opens, clicks, forwards, geographic and demographic data. Such data, within its limitations will show the activity each subscriber made for that email campaign.</p>
    
    <p>Any email marketing messages we send are in accordance with the GDPR and the PECR. We provide you with an easy method to withdraw your consent (unsubscribe) or manage your preferences / the information we hold about you at any time. See any marketing messages for instructions on how to unsubscribe or manage your preferences, you can also <a href="http://jamieking.co.uk/blog/cyber-security/my-cyber/unsubscribe-from-all-global-mailchimp-lists.php" target="_blank">unsubscribe from all MailChimp lists</a>, by following this link, otherwise contact the EMS provider.</p>

    <p>Our EMS provider is Mailchimp. We hold the following information about you within our EMS system;</p>

    <ul>
        <li>Name</li>
        <li>Address</li>
        <li>Mobile number</li>
        <li>Emai address</li>
    </ul>

    <h3>
        Resources & further information
    </h3>

    <ul>
        <li><a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr" target="_blank">Overview of the GDPR - General Data Protection Regulation</a></li>
        <li><a href="http://www.legislation.gov.uk/ukpga/2018/12/contents/enacted" target="_blank">Data Protection Act 2018</a></li>
        <li><a href="http://www.legislation.gov.uk/uksi/2003/2426/contents/made" target="_blank">Privacy and Electronic Communications Regulations 2003</a></li>
        <li><a href="https://ico.org.uk/for-organisations/guide-to-pecr/" target="_blank">The Guide to the PECR 2003</a></li>
        <li><a href="https://twitter.com/en/privacy" target="_blank">Twitter Privacy Policy</a></li>
        <li><a href="https://www.facebook.com/about/privacy/" target="_blank">Facebook Privacy Policy</a></li>
        <li><a href="https://policies.google.com/privacy" target="_blank">Google Privacy Policy</a></li>
        <li><a href="https://www.linkedin.com/legal/privacy-policy" target="_blank">Linkedin Privacy Policy</a></li>
        <li><a href="https://mailchimp.com/legal/privacy/" target="_blank">Mailchimp Privacy Policy</a></li>
        <li><a href="http://jamieking.co.uk/blog/cyber-security/policies/free-sample-privacy-policy.php" target="_blank">Small business GDPR policy template</a></li>
    </ul>

    <p>Privacy Notice Policy Base: v.4.1 Dec 2018 - Made available without liability by Jamie King, <a href="http://jamieking.co.uk/services/web/website-management.html" target="_blank">Website management services</a>. [End of Privacy Policy Notice 150 | Email: <a href="mailto:info@jamieking.co.uk" target="_blank">info@jamieking.co.uk</a></p>
</section>


