
@using EssexCelebrant.Models.Blog

@model List<BlogPost>

@{
    ViewBag.Title = "Blog";
}

<link href="~/Content/CSS/Blog.css" rel="stylesheet" />

<section class=" inner-6em blog-container clearfix">
    <h2>Blog</h2>

    @foreach (var b in Model)
    {
        <a class="link" href="@b.Link" target="_blank">
            <section class="blog">
                <label class="blog__title">
                    @b.Title
                </label>
                <div class="blog__summary">
                    @b.Summary
                </div>
            </section>
        </a>
    }
</section>