
@{
    ViewBag.Title = "Toastmaster";
}
<link href="~/Content/CSS/Testimonials.min.css" rel="stylesheet" />

<h2>Toastmaster</h2>
<h3>Celebratory parties</h3>

<h3>formal and informal dinners</h3>

<h3>Masonic functions</h3>

<h3>Military functions</h3>

<h3>Civic functions</h3>

<h3>Proms</h3>
