
@using EssexCelebrant.Models.Carousel;

@{
    ViewBag.Title = "Toastmaster";

    var carousel = new List<Carousel>
    {
        new Carousel
        {
            Image = "Content/Images/Cufflinks.png",
            Line1 = "For the professional touch to your charity event",
            Line2 = "Call now",
            Line3 = "<a href='tel:07826339498' target='_blank'>07826 339498</a> - Glenn Mayes, Professional Toastmaster & Master of Ceremonies",
            Line3ContainsHtml = true
        },
        new Carousel
        {
            Image = "Content/Images/Gavel.png",
            Line1 = "<div style='margin-top: 45px;'>From large formal wedding to small family nuptials</div>",
            Line1ContainsHtml = true,
            Line2 = "Ensure that your event goes smoothly and that you enjoy your day",
            Line3 = "<a href='tel:07826339498' target='_blank'>07826 339498</a> - Glenn Mayes, Professional Toastmaster & Master of Ceremonies",
            Line3ContainsHtml = true
        },
        new Carousel
        {
            Image = "Content/Images/Collerette.jpeg",
            Line1 = "<div style='margin-top: 65px;'>Informal - formal - all events catered for throughout Essex and East Anglia</div>",
            Line1ContainsHtml = true,
            Line2 = "Make sure that your celebration is one to remember for the right reasons",
            Line3 = "<a href='tel:07826339498' target='_blank'>07826 339498</a> - Glenn Mayes, Professional Toastmaster & Master of Ceremonies",
            Line3ContainsHtml = true
        }
    };
}

<link href="~/Content/CSS/Toastmaster.min.css" rel="stylesheet" />

@Html.Partial("_Carousel", carousel)

<article class="toastmaster inner-6em">
    <div>The term Toastmaster comes from the name “Master of the Toasts”. </div>
    <div>In medieval times, men were employed as experts on the quality of wine, checking the ingredients laid before them, and stirring into a main pot, by the use of a fork, a piece of bread after this was placed in a flame.  </div>
    <div>An article in a 1649 Tatler references three gentlemen in Bath scooping water from the spar and “toasting” the Health of the Women of Bath.  </div>
    <div>Today, the toastmaster is typically charge with ensuring an event goes to schedule with particular attention to all event organisation and etiquette.</div>
    <div>Such events typically include </div>
    <ul>
        <li>civic events,</li>
        <li>service organization meetings,</li>
        <li>banquets</li>
        <li>Ladies nights - Masonic, Rotary, Lions</li>
        <li>Weddings and other similar celebrations 60th Birthdays and Anniversaries </li>
    </ul>
    <div>Whatever your 21st Century event, Glenn Mayes, Professional Toastmaster and Master of Ceremonies can assist.</div>
</article>

<script>
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity(elem, {
        // options
        cellAlign: 'left',
        contain: true
    });
</script>

