

@{
    ViewBag.Title = "Get in Touch";
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="~/Content/Scripts/App/GetInTouch.js"></script>
<link href="~/Content/CSS/GetInTouch.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

<article class="get-in-touch">
    <form class="inner-6em">
        <h2>Get in touch</h2>

        <div class="form-group">
            <label for="name">NAME</label>
            <input id="name" type="text" name="name"class="input-control" />

            <label for="email" class="right-inline">EMAIL</label>
            <input id="email" name="email" type="email" class="input-control" />
        </div>

        <div class="form-group">
            <label for="message">MESSAGE</label>
            <textarea id="message" name="message" rows="6" class="input-control"></textarea>
        </div>

        <div class="form-group">
            <input id="send-the-message" type="submit" value="Send Message"  class="send-message">
        </div>
    </form>
</article>

<script>
    window.EssexCelebrant.GetInTouch.init();
</script>