
@using EssexCelebrant.Models.Carousel;

@{
    ViewBag.Title = "Weddings & Civil ceremonies";

    var carousel = new List<Carousel>
{
new Carousel
{
Image = "Content/Images/Stock images/WeddingCivilCeremony/AdobeStock_59468352_Preview.jpeg",
Line1 = "",
Line2 = "",
Line2ContainsHtml = true
},
new Carousel
{
Image = "Content/Images/Stock images/WeddingCivilCeremony/AdobeStock_96761259_Preview.jpeg",
Line1 = ""
},
new Carousel
{
Image = "Content/Images/Stock images/WeddingCivilCeremony/AdobeStock_95408152_Preview.jpeg",
Line1 = "",
Line1ContainsHtml = true
}
};
}



@Html.Partial("_Carousel", carousel)

<link href="~/Content/CSS/Weddings.css" rel="stylesheet" />

<section class="inner-6em">
    <article class="margin-bottom-2em">
        <h3 class="margin-bottom-2em">
            Weddings and Civil Partnership Celebrations
        </h3>
        <div>
            Glenn has provided the services as a Professional Toastmaster at many weddings throughout East Anglia and the South East.
        </div>
        <div>
            His proven track record with a total focus on the Bride and Bridegroom is second to none.  He will ensure that your day is one to be remembered and goes without hitch.  This is the most important day of your life.
        </div>
        <div>
            He lives by his motto “Honoured to Serve”
        </div>
    </article>

    <article>
        <div>
            Package includes:
        </div>
        <ul>
            <li>
                Free, without obligation, initial wedding day consultation.
            </li>
            <li>Final briefing 7 - 10 days prior to wedding.</li>
            <li>Independent venue visit.</li>
            <li>Attendance on wedding day, one hour before guests’ arrival.</li>
            <li>Remain in attendance up to and including first dance by Bride and Bridegroom.</li>
        </ul>
    </article>

    <article>
        <div>
            Other things to consider:
        </div>
        <ul>
            <li>
                Always interview two or even three potential toastmasters - after all you are entrusting them with the smooth running of the most important day of your life to date; your wedding.
            </li>
            <li>
                Don't simply be guided by price. Ask what is included in a wedding package.
            </li>
            <li>Be aware that some venues include "Toastmaster" services. Often this is the Events Manager or Front of House Manager. They will not be dedicated to Toastmastering your wedding breakfast or evening function. Please check.</li>
        </ul>
    </article>

    <article>
        <div>
            Your toastmaster should be:
        </div>
        <ul>
            <li>confident able to advise on traditional wedding protocol and etiquette</li>
            <li>willing to do it your way</li>
            <li>come with personal recommendations</li>
            <li>have public liability insurance</li>
            <li>be a member of a professional toastmasters' association (ideally affiliated to the <a href="http://www.toastmastersgeneralcouncil.org" target="_blank">Toastmasters General Council</a>)</li>
            <li> have a range of <a href="Testimonials">testimonials</a> from previous Brides and Bridegrooms</li>
        </ul>
        <div>
            Please do not hesitate to <a href="@Url.Action("Index", "GetInTouch")">contact me</a> to discuss your specific requirements.
        </div>
    </article>
</section>
