
<link href="~/Content/CSS/Weddings.css" rel="stylesheet" />

<section>
    <article class="inner">
        <div>Glenn Mayes</div>
        <div>Toastmaster, Master of Ceremonies & Independaant Celebrant</div>
        <div>'Honoured to Serve'</div>
    </article>

    <article class="inner">
        <h3>
            Weddings and Civil Partnership  Celebrations
        </h3>
        <div>
            Package includes:
        </div>
        <ul>
            <li>
                Free, without obligation, initial wedding day consultation.
            </li>
            <li>Final briefing 7 - 10 days prior to wedding.</li>
            <li>Independent venue visit.</li>
            <li>Attendance on wedding day, one hour before guests’ arrival.</li>
            <li>Remain in attendance up to and including first dance by Bride and Bridegroom.</li>
        </ul>
    </article>

    <article class="inner">
        <div>
            Other things to consider:
        </div>
        <ul>
            <li>
                Always interview two or even three potential toastmasters - after all you are entrusting them with the smooth running of the most important day of your life to date; your wedding.</li>
            <li>
                Don't simply be guided by price. Ask what is included in a wedding package.
            </li>
            <li>Be aware that some venues include "Toastmaster" services. Often this is the Events Manager or Front of House Manager. They will not be dedicated to Toastmastering your wedding breakfast or evening function. Please check.</li>
        </ul>
    </article>

    <article class="inner">
        <div>
            Your toastmaster should be:
        </div>
        <ul>
            <li>confident able to advise on traditional wedding protocol and etiquette</li>
            <li>willing to do it your way</li>
            <li>come with personal recommendations</li>
            <li>have public liability insurance</li>
            <li>be a member of a professional toastmasters' association (ideally affiliated to the <a href="http://www.toastmastersgeneralcouncil.org" target="_blank">Toastmasters General Council</a>)</li>
            <li> have a range of <a href="Testimonials">testimonials</a> from previous Brides and Bridegrooms</li>
        </ul>
        <div>
            Please do not hesitate to <a href="Home/Contact">contact me</a> to discuss your specific requirements.
        </div>
    </article>

    <article class="inner">
        <h3>
            Other occasions
        </h3>
        <div>
            As well as weddings, Glenn Mayes is able to offer his professional services at the following occasions:
        </div>
        <ul>
            <li>Award ceremonies and conferences</li>
            <li>School "Proms"</li>
            <li>Corporate dinners</li>
            <li> Birthday celebrations</li>
            <li>Wedding Anniversary celebrations</li>
            <li> Charity Balls and Events</li>
            <li> Civic receptions</li>
            <li> Masonic / Rotary / Lions Ladies’ Nights / Festivals</li>
           
        </ul>
        <div>
            The professional toastmaster’s services can be on a formal or informal basis and with or without the traditional red coat.
        </div>
        <div>
            Please contact Glenn to discuss your requirements, and costs, without any obligation.
        </div>
    </article>

    <section>
        <article class="inner">
            <h3>
                Independent Celebrant
            </h3>
            <article>
                For weddings, where you wish to have hymns or prayers, however do not want to marry in church or licenced venue, ask about the services of an Independent Celebrant.
            </article>
            <article>
                For more information, please <a href="Celebrant">click here</a>.
            </article>
        </article>
    </section>
</section>