
@using EssexCelebrant.Models.Carousel;

@{
    ViewBag.Title = "Other Celebrations";

    var carousel = new List<Carousel>
    {
        new Carousel
        {
            Image = "Content/Images/21st Birthday.jpg",
            Line1 = " Ensure that special 21st Birthday goes without a hitch!"
        },
        new Carousel
        {
            Image = "Content/Images/School Prom.jpeg",
            Line1 = "With lots of young people to organise, the services of a Professional Toastmaster are invaluable at the annual School Prom"
        },
        new Carousel
        {
            Image = "Content/Images/Bar Mitzvah.jpeg",
            Line1 = "The importance of such an occasion demands the full focus of a Professional Toastmaster at the following celebrations"
        },
        new Carousel
        {
            Image = "Content/Images/Anniversary.jpeg",
            Line1 = "Such a significant milestone in a couples life deserves only the best in service;  Have a Professional Toastmaster."
        }
    };
}

<link href="~/Content/CSS/3rd Party/flickity.css" rel="stylesheet" />
<script src="~/Content/Scripts/3rdParty/Flickity/flickity.pkgd.min.js"></script>
<link href="~/Content/CSS/OtherCelebrations.min.css" rel="stylesheet" />

@Html.Partial("_Carousel", carousel)

<article class="inner-6em">
    <h3>
        Other celebrations
    </h3>
    <section>
        As well as weddings, Glenn Mayes is able to offer his professional services at a range of events.
    </section>
    <ul>
        <li>Award ceremonies and conferences</li>
        <li>School "Proms"</li>
        <li>Corporate dinners</li>
        <li> Birthday celebrations</li>
        <li>Wedding Anniversary celebrations</li>
        <li> Charity Balls and Events</li>
        <li> Civic receptions</li>
        <li> Masonic / Rotary / Lions Ladies’ Nights / Festivals</li>

    </ul>
    <section>
        The professional toastmaster’s services can be on a formal or informal basis.
    </section>
    <section>
        The traditional red tail coat, synonymous with the Professional Toastmaster, can be worn or not.
    </section>
    <section>
        That decision is yours.  The East Anglia Toastmaster is “Honoured to Serve”.
    </section>
    <section>
        Please contact Glenn to discuss your requirements, and costs, without any obligation.
    </section>
</article>

<script>
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity(elem, {
        // options
        cellAlign: 'left',
        contain: true
    });
</script>

