<link href="~/Content/CSS/OtherCelebrations.css" rel="stylesheet" />
@{
    ViewBag.Title = "Other Celebrations";
}
<link href="~/Content/CSS/3rd Party/flickity.css" rel="stylesheet" />
<script src="~/Content/Scripts/3rdParty/Flickity/flickity.pkgd.min.js"></script>
<link href="~/Content/CSS/home.css" rel="stylesheet" />

<!-- Banner -->
<div class="main-carousel">
    <div class="carousel-cell">
        <div style="float: left; width: 75%;">
            <img src="~/Content/Images/Testimonial.jpg" style="width: 100%;" />
        </div>
        <div style="float: left; color: #fff; width: 25%; padding: 50px 20px 0 20px;">
            <div>
                Ensure that the special 21st Birthday goes without a hitch
            </div>
        </div>
        <div style="clear: left;"></div>
    </div>
    <div class="carousel-cell">
        <div style="float: left; width: 75%;">
            <img src="~/Content/Images/One.jpg" style="width: 100%;" />
        </div>
        <div style="float: left; color: #fff; width: 25%; padding: 50px 20px 0 20px;">
            <div>
                With lots of young people to organise, the services of a Professional Toastmaster are invaluable at the annual School Prom
            </div>
        </div>
        <div class="clear: left;"></div>
    </div>
    <div class="carousel-cell">
        <div style="float: left; width: 75%;">
            <img src="~/Content/Images/Three.jpg" style="width: 100%;" />
        </div>
        <div style="float: left; color: #fff; width: 25%; padding: 50px 20px 0 20px;">
            <div>
                The importance of such an occasion demands the full focus of a Professional Toastmaster at the following celebrations
            </div>
        </div>
        <div class="clear: left;"></div>
    </div>
    <div class="carousel-cell">
        <div style="float: left; width: 75%;">
            <img src="~/Content/Images/Two.jpg" style="width: 100%;" />
        </div>
        <div style="float: left; color: #fff; width: 25%; padding: 50px 20px 0 20px;">
            <div>
                Such a significant milestone in a couples life deserves only the best in service;  Have a Professional Toastmaster.
            </div>
        </div>
        <div class="clear: left;"></div>
    </div>
</div>

<section>
    <article class="inner">
        <h3>
            Other celebrations
        </h3>
        <div>
            As well as weddings, Glenn Mayes is able to offer his professional services at a range of events.
        </div>
        <ul>
            <li>Award ceremonies and conferences</li>
            <li>School "Proms"</li>
            <li>Corporate dinners</li>
            <li> Birthday celebrations</li>
            <li>Wedding Anniversary celebrations</li>
            <li> Charity Balls and Events</li>
            <li> Civic receptions</li>
            <li> Masonic / Rotary / Lions Ladies’ Nights / Festivals</li>

        </ul>
        <div>
            The professional toastmaster’s services can be on a formal or informal basis.
        </div>
        <div>
            The traditional red tail coat, synonymous with the Professional Toastmaster, can be worn or not.
        </div>
        <div>
            That decision is yours.  The East Anglia Toastmaster is “Honoured to Serve”.
        </div>
        <div>
            Please contact Glenn to discuss your requirements, and costs, without any obligation.
        </div>
    </article>

</section>

<script>
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity(elem, {
        // options
        cellAlign: 'left',
        contain: true
    });
</script>

