
@{
    ViewBag.Title = "Testimonials";
}

<link href="~/Content/CSS/Testimonials.min.css" rel="stylesheet" />


<section class="testimonials-header">
    <p class="testimonial-header--text">Testimonials</p>
</section>

<article class="testimonials">
    <section class="testimonials-content">
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="green">
                        <p>Would just like to say a massive thank you for making our wedding day so special, you made the whole day go so smoothly, we didn't have to worry about a thing thanks to you.</p>
                        <p>It was a pleasure having you at our reception and all our guests and us thought you were amazing.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client green bold">
                <label class="green fa fa-female"></label>
                <label class="green fa fa-male"></label>
                Damian and George
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="coral">
                        <p>Both Stuart and myself would like to thank you for your expertise shown at our wedding on the 14th April 2008.</p>
                        <p>We were grateful that we could leave the proceedings in your capable hands and not have to worry ourselves on the day.</p>
                        <p>The day itself went perfectly from start to finish and we would not hesitate to recommend you to any of our close friends or family.</p>
                        <p>Once again our thanks to your for making our day so special.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client coral bold">
                <label class="coral fa fa-male"></label>
                <label class="coral fa fa-male"></label>
                Stuart Way and Anthony Manning
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="burnt-orange">
                        <p>Just a belated note to thank you for your services at Nicola and Oliver's wedding two weeks ago.  As you suggested we hardly noticed you and everything ran very smoothly.  We had a wondderul day and now have the pictures to enjoy and memories of the event to share with the honeymooners on their return.</p>
                        <p>Thanks again.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client burnt-orange bold">
                <label class="burnt-orange fa fa-male"></label>
                Pete Scott
            </section>
        </section>
    </section>
    <div style="clear: both;"></div>

    <section class="testimonials-content">
        <section class="testimonial large">
            <div>
                <blockquote>
                    <q class="purple">
                        <p>I simply wanted to write on behalf of all my Chief Officer colleagues to thank you for the important part you personally played in organising the ACTION Awards Dinner 2007.</p>
                        <p>This was the 4th such Awards dinner and I have been privileged to have been involved in the planning of all of them.  Without a doubt this was the best yet; not only my view but also that of a number of other people who had attended previous dinners.  I think that I managed to speak to just about everyone at the dinner last night and our staff and their partners and friends were clearly immensely impressed.  It was noticeable that one or two people who were slightly sceptical at the start were very positive indeed by the end of the evening.</p>
                        <p>These events do not happen of their own accord and I am only too aware that an immense amount of hard work went into last night's dinner.  I am extremely proud of all our award winners; I am equally proud of the work that you did to enable us as a Force to congratulate them in the way that I think they deserved.</p>

                    </q>
                </blockquote>
            </div>
            <section class="client purple bold">
                <label class="purple fa fa-male"></label>
                Andy Bliss, Deputy Chief Constable, Essex Police (ACTION Awards Dinner 2007)
            </section>
        </section>
        <section class="testimonial large">
            <div>
                <blockquote>
                    <q class="purple">
                        <p>
                            Rather belatedly, but nevertheless most sincerely, I should like to take this opportunity to thank you for the excellent and most professional service which you provided as Toastmaster/Master of ceremonies on the occasion of my 60th Birthday Party held on 21st January 2006 at the Five Lakes Resort
                        </p>
                        <p>Your involvement ensured that the entire evening proceeded most smoothly and I should especially like to thank you for being on hand during the discussions held with the hotel's Event Manager over the misunderstanding of the number of desserts which I had ordered for each guest.</p>
                        <p>As a result of your input, the event Manager admitted on behalf of the hotel that an error had occurred on its part and you were in a position to put at ease those guests who were at risk of not getting a dessert. As you are aware, the issue was resolved satisfactorily to the extent that every guest subsequently appeared to be replete although, needless to say, as I write no formal apology, or indeed recompense, has been forthcoming from the hotel.</p>
                        <p>
                            Since the party, I have received a number of comments, all favourable, from my oldest friends and erstwhile colleagues as to the professionalism which you displayed and I felt that you reached exactly the correct degree of formality required to match the occasion.
                        </p>
                        <p>Under the circumstances, it goes without saying, of course, that I would have no hesitation in recommending your services.</p>
                        <p>Once again, with my belated thanks and kind regards,</p>
                    </q>
                </blockquote>
            </div>
            <section class="client purple bold">
                <label class="purple fa fa-male"></label>
                John Goodman
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="green">
                        <p>I know it's been nearly 9 months since our wedding but I just want to say thank you for everything you did.</p>
                        <p>Our wedding was the best day of my life so far and it went so smoothly most of which was down to you. You helped take the stress away and helped me not to worry so much as I often do.</p>
                        <p>Loads of our guests commented on how well the wedding went and how good you were and I agree.</p>
                        <p>Again thank you  so much for everything. I have enclosed some pictures for you; hope you like them.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client green bold">
                <label class="green fa fa-female"></label>
                Louise
            </section>
        </section>
        <section class="testimonial large">
            <div>
                <blockquote>
                    <q class="purple">
                        <p>
                            Now that the dust has settled and we are back from a few days away, we wanted to write and thank you so much for the excellent job you did at Sarah and Dan's wedding.
                            The day went so smoothly and the "breakfast" worked like clockwork, due in no small measure to your expert handling. The speeches were all just long enough and there were just the
                            right number of toasts to prevent us jumping up and down like yo-yos1! We did so appreciate your telling mother not to try and get up for them and she was most grateful.
                        </p>
                        <p> We hope Carlie enjoyed the day, too. It must be difficult for her at these occasions as the chances are she won't know many people, if any. At least, she got fed this time!</p>
                        <p>Very many thanks once again for a splendid job, very well done. We will certainly recommend you to anyone who asks!</p>
                    </q>
                </blockquote>
            </div>
            <section class="client purple bold">
                <label class="purple fa fa-male"></label>
                <label class="purple fa fa-female"></label>
                Bryan and Brenda Ward
            </section>
        </section>
        <div style="clear: both;"></div>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="green">
                        <p>
                            We wanted to say thank you very much for helping to make our day perfect. we both had a fantastic day and enjoyed every minute. You made the day run so smoothly and we are so pleased we hired you to be toastmaster, without you we would have been lost!!
                            You dealt with any problems without us even knowing and took any stress away.
                        </p>
                        <p>Thank you again.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client green bold">
                <label class="green fa fa-female"></label>
                <label class="green fa fa-male"></label>
                Laura and Richard
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="burnt-orange">
                        <p>
                            I am writing to thank you for all your hard work during the reception for Katie and Christian's wedding. we had a wonderful day and your valued expertise helped
                            us through the day without a hitch. You were there when needed in an unobtrusive way and I understand it was you heating the 3 meals for my family in the microwave!
                        </p>
                        <p>I spoke to Katie on the Monday before they went on honeymoon and she said if she was doing it again she wouldn't change a thing.
                        <p>So, many thanks again with much appreciation.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client burnt-orange bold">
                <label class="burnt-orange fa fa-female"></label>
                Linda F
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="coral">
                        <p>Thank you both for coming to our wedding, and Glenn thank you so much for everythin you did - we'd have been lost without you.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client coral bold">
                <label class="coral fa fa-female"></label>
                <label class="coral fa fa-male"></label>
                Nicola and Ian
            </section>
        </section>
        <div style="clear: both;"></div>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="burnt-orange">
                        <p>
                            I wanted to write to you to say a huge thank you for being toastmaster at our wedding at Gosfield Hall on 30th August 2008.
                        </p>
                        <p>
                            You managed to ensure that everyone was on time throughout the day - and we definitely couldn't have done that without you! We've also had so many comments
                            from our guests about how great you were. So thank you!
                        </p>
                        <p>Thank you for being so calm, pleasant, organised and reassuring. It really did make a world of difference to our day!</p>
                    </q>
                </blockquote>
            </div>
            <section class="client burnt-orange bold">
                <label class="burnt-orange fa fa-female"></label>
                <label class="burnt-orange fa fa-male"></label>
                Nina and Lee (the new Mr and Mrs Mott!)
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="purple">
                        <p>
                            Hi Glenn - just a little note to say a massive thank you for all your hard work on our wedding day.... we cannot stop smiling from our memories. We had
                            a brilliant time and all went smoothly thanks to you.
                        </p>
                        <p>
                            I just hope I wasn't too bossy on the day.... I think all the attention went to my head a little!!!
                        </p>
                        <p>If we have another occasion that warrants an MC, you will be top of our list - thank you  so much.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client purple bold">
                <label class="purple fa fa-female"></label>
                <label class="purple fa fa-male"></label>
                Nikki and Hadley
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="green">
                        <p>
                            Thank you so much for being our toastmaster. Everybody commented on how good you were and it really helped having you there to make our big day run smoothly.
                        </p>
                        <p>I have some great photos of you in action so if you like I can email you some.</p>
                        <p>Thanks so much.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client green bold">
                <label class="green fa fa-female"></label>
                <label class="green fa fa-male"></label>
                Pauline and Stuart
            </section>
        </section>
        <div style="clear: both;"></div>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="coral">
                        <p>What can we say? but a HUGE thank you. Your services were invaluable at the wedding of Paul and Keryna at Layer Marney Towers on Saturday 20th September 2008.</p>
                        <p>
                            You go beyond the call of duty in your attentiveness, care and attention to detail. With you there the whole reception ran extremely smoothly without a hitch or incident.
                        </p>
                        <p>
                            Many of our guests commented on your care of them and for that we thank you. This card seeems so inadequate but comes with  our heartfelt gratitude.
                        </p>
                    </q>
                </blockquote>
            </div>
            <section class="client coral bold">
                <label class="coral fa fa-female"></label>
                <label class="coral fa fa-male"></label>
                Gary and Kerry Heard
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="green">
                        <p>
                            Thanks so much for the toastmaster service you provided on the wedding day. You helped everything run so smoothly on what was quite a full day.
                            The service was excellent and i didn't worry about anything going wrong
                        </p>
                        <p>Thanks.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client green bold">
                <label class="green fa fa-female"></label>
                <label class="green fa fa-male"></label>
                Sarah and Stuart Quilter
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="purple">
                        <p>We would both like to thank you for your part in  our beautiful wedding day, it really did mean a great deal to us that you could be there.</p>
                        <p>Your services were absolutely priceless, we were truly amazed by all you did. You had complete control yet never overpowered the day at any point. Everyone has complemented you  and all that you did that day without exception.</p>
                        <p>we have at every opportunity complemented and recommended your service to all that will listen and will continue to do so. </p>
                    </q>
                </blockquote>
            </div>
            <section class="client purple bold">
                <label class="purple fa fa-female"></label>
                <label class="purple fa fa-male"></label>
                Zoe and Steve Morgan
            </section>
        </section>
        <div style="clear: both;"></div>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="coral">
                        <p>Thank you for helping our special day become wonderful.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client coral bold">
                <label class="coral fa fa-female"></label>
                <label class="coral fa fa-male"></label>
                Perry and Martine Wilson
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="burnt-orange">
                        <p>
                            Thank you so much for your help on the wedding day! We were so pleased with everything you did, you made it so special in every way!
                        </p>

                        <p>Thank you once again.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client burnt-orange bold">
                <label class="burnt-orange fa fa-female"></label>
                <label class="burnt-orange fa fa-male"></label>
                Lianne and Nathan Turner
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="green">
                        <p>
                           just a short note to thank you for being our toastmaster on Jan 19th. We had a fantastic day and you really added to it. Lots of people have commented
                            to us how much they liked your style.
                        </p>
                        <p>Thanks again.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client green bold">
                <label class="green fa fa-female"></label>
                <label class="green fa fa-male"></label>
                Lisa and Charlie LeBesque
            </section>
        </section>
        <div style="clear: both;"></div>
    </section>
</article>