
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/CSS/Testimonials.min.css" rel="stylesheet" />


<section class="testimonials-header">
    <p class="testimonial-header--text">Testimonials</p>
</section>

<article class="testimonials">
    <section class="testimonials-content">
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="green">
                        <p>Would just like to say a massive thank you for making our wedding day so special, you made the whole day go so smoothly, we didn't have to worry about a thing thanks to you.</p>
                        <p>It was a pleasure having you at our reception and all our guests and us thought you were amazing.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client green bold">
                <label class="green fa fa-female"></label>
                <label class="green fa fa-male"></label>
                Damian and George
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="coral">
                        <p>Both Stuart and myself would like to thank you for your expertise shown at our wedding on the 14th April 2018.</p>
                        <p>We were grateful that we could leave the proceedings in your capable hands and not have to worry ourselves on the day.</p>
                        <p>The day itself went perfectly from start to finish and we would not hesitate to recommend you to any of our close friends or family.</p>
                        <p>Once again our thanks to your for making our day so special.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client coral bold">
                <label class="coral fa fa-male"></label>
                <label class="coral fa fa-male"></label>
                Stuart Way and Anthony Manning
            </section>
        </section>
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="burnt-orange">
                        <p>Just a belated note to thank you for your services at Nicola and Oliver's wedding two weeks ago.  As you suggested we hardly noticed you and everything ran very smoothly.  We had a wondderul day and now have the pictures to enjoy and memories of the event to share with the honeymooners on their return.</p>
                        <p>Thanks again.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client burnt-orange bold">
                <label class="burnt-orange fa fa-male"></label>
                Pete Scott
            </section>
        </section>
    </section>
    <div style="clear: both;"></div>

    <section class="testimonials-content">
        <section class="testimonial large">
            <div>
                <blockquote>
                    <q class="purple">
                        <p>I simply wanted to write on behalf of all my Chief Officer colleagues to thank you for the important part you personally played in organising the ACTION Awards Dinner 2007.</p>
                        <p>This was the 4th such Awards dinner and I have been privileged to have been involved in the planning of all of them.  Without a doubt this was the best yet; not only my view but also that of a number of other people who had attended previous dinners.  I think that I managed to speak to just about everyone at the dinner last night and our staff and their partners and friends were clearly immensely impressed.  It was noticeable that one or two people who were slightly sceptical at the start were very positive indeed by the end of the evening.</p>
                        <p>These events do not happen of their own accord and I am only too aware that an immense amount of hard work went into last night's dinner.  I am extremely proud of all our award winners; I am equally proud of the work that you did to enable us as a Force to congratulate them in the way that I think they deserved.</p>

                    </q>
                </blockquote>
            </div>
            <section class="client purple bold">
                <label class="purple fa fa-male"></label>
                Andy Bliss, Deputy Chief Constable, Essex Police (ACTION Awards Dinner 2007)
            </section>
        </section>
        <section class="testimonial large">
            <div>
                <blockquote>
                    <q class="purple">
                        <p>
                            Rather belatedly, but nevertheless most sincerely, I should like to take this opportunity to thank you for the excellent and most professional service which you provided as Toastmaster/Master of ceremonies on the occasion of my 60th Birthday Party held on 21st January 2006 at the Five Lakes Resort
                        </p>
                        <p>Your involvement ensured that the entire evening proceeded most smoothly and I should especially like to thank you for being on hand during the discussions held with the hotel's Event Manager over the misunderstanding of the number of desserts which I had ordered for each guest.</p>
                        <p>As a result of your input, the event Manager admitted on behalf of the hotel that an error had occurred on its part and you were in a position to put at ease those guests who were at risk of not getting a dessert. As you are aware, the issue was resolved satisfactorily to the extent that every guest subsequently appeared to be replete although, needless to say, as I write no formal apology, or indeed recompense, has been forthcoming from the hotel.</p>
                        <p>
                            Since the party, I have received a number of comments, all favourable, from my oldest friends and erstwhile colleagues as to the professionalism which you displayed and I felt that you reached exactly the correct degree of formality required to match the occasion.
                        </p>
                        <p>Under the circumstances, it goes without saying, of course, that I would have no hesitation in recommending your services.</p>
                        <p>Once again, with my belated thanks and kind regards,</p>
                    </q>
                </blockquote>
            </div>
            <section class="client purple bold">
                <label class="purple fa fa-male"></label>
                John Goodman
            </section>
        </section>
    </section>
    <div style="clear: both;"></div>
</article>