
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/CSS/Testimonials.min.css" rel="stylesheet" />


<section class="testimonials-header">
    <p class="testimonial-header--text">Testimonials</p>
</section>

<article class="testimonials">
    <section class="testimonials-content">
        <section class="testimonial medium">
            <div>
                <blockquote>
                    <q class="green">
                        <p>Would just like to say a massive thank you for making our wedding day so special, you made the whole day go so smoothly, we didn't have to worry about a think thanks to you.</p>
                        <p>It was a pleasure having you at our reception and all our guests and us thought you were amazing.</p>
                    </q>
                </blockquote>
            </div>
            <section class="client green bold">
                <label class="green fa fa-female"></label>
                <label class="green fa fa-male"></label>
                Damian and George
            </section>
        </section>
        <section class="testimonial medium">
            <blockquote>
                <q>
                    <p>Would just like to say a massive thank you for making our wedding day so special, you made the whole day go so smoothly, we didn't have to worry about a think thanks to you.</p>
                    <p>It was a pleasure having you at our reception and all our guests and us thought you were amazing.</p>
                </q>
            </blockquote>
        </section>
    </section>
    <div style="clear: both;"></div>

    <section class="testimonials-content">
        <section class="testimonial large">
            <div>
                <blockquote>
                    <q class="purple">
                        <p>I simply wanted to write on behalf of all my Chief Officer colleagues to thank you for the important part you personally played in organising the ACTION Awards Dinner 2007.</p>
                        <p>This was the 4th such Awards dinner and I have been privileged to have been involved in the planner of all of them.  Without a doubt this was the best yet; not only my view but also that of a number of other people who had atteneded previous dinners.  I think that I managed to speak to just about everyone at the dinner last night and our staff and their partners and friends were clearly immensely impressed.  It was noticeable that one ro two people who were slightly sceptical at the start were very positive indeed by the end of the evening.</p>
                        <p>These events do not happen of their own accord and I am only too aware that an immense amount fo hard work went into last night's dinner.  I am extremely proud of all our award winners; I am equally proud of the work that you did to enable us as a Force to congratulate them in the way that I think they deserved.</p>

                    </q>
                </blockquote>
            </div>
                <section class="client purple bold">
                    <label class="purple fa fa-male"></label>
                    Andy Bliss, Deputy Chief Constable, Essex Police (ACTION Awards Dinner 2007)
                </section>
        </section>
    </section>
    <div style="clear: both;"></div>
</article>