
@{
    ViewBag.Title = "Baby funerals";
}

<section class="inner-6em">
    <article class="baby">
        <h3>Baby funerals</h3>
        <div>
           Awaiting text
        </div>
    </article>
</section>

