
@using EssexCelebrant.Models.Carousel;

@{
    ViewBag.Title = "Corporate Events";
}

@{
    var carousel = new List<Carousel>
{
new Carousel
{
Image = "Content/Images/Stock images/Corporate events/AdobeStock_121930665_Preview.jpeg",
Line1 = "Formal dinners conducted with the finery they deserve - contact Glenn to chat about what you’re looking for",
Line2 = "Contact me for help with writing, editing and delivering <a href='tel:07826339498' target='_blank'>07826 339498</a>",
Line2ContainsHtml = true
},
new Carousel
{
Image = "Content/Images/Stock images/Corporate events/AdobeStock_101417139_Preview.jpeg",
Line1 = "Familiar with all aspects of The City of London events working with Beadles across the City"
},
new Carousel
{
Image = "Content/Images/Stock images/Corporate events/AdobeStock_208989243_Preview.jpeg",
Line1 = "Facilitates and guides organisers of conferences in any venue - call to discuss your requirements on <a href='tel:07826339498' target='_blank'>07826 339498</a>",
Line1ContainsHtml = true
},
new Carousel
{
Image = "Content/Images/Stock images/Corporate events/AdobeStock_138528755_Preview.jpeg",
Line1 = "Experienced with both national and international guests lists - call <a href='tel:07826339498' target='_blank'>07826 339498</a>",
Line1ContainsHtml = true
}
};
}

<link href="~/Content/CSS/CorporateEvents.min.css" rel="stylesheet" />

@Html.Partial("_Carousel", carousel)

<section class="inner-6em">
    <article class="corporate-events">
        <h3>Corporate Events</h3>
        <div>
            Ensure that your corporate event goes smoothly – book now.
        </div>
        <div>
            All events covered from presentations to conferences.
        </div>
        <div>
            Local to national to international.
        </div>
        <div>
            Civic to business.
        </div>
        <div>
            Etiquette, professional and calm – just what you require for that perfect touch.
        </div>
        <div>
            Contact:
            <svg id="Layer_1" height="24px" width="24px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(20,120.5)"><g><path style="fill: #7b2715;" d="M346.7,359.8c4.7-6.2,7.5-14,7.5-22.4V174.5c0-1.6-0.1-3.1-0.3-4.6l-105.3,75.7L346.7,359.8z" id="XMLID_7_" /><path style="fill: #7b2715;" d="M213.3,258.9l137.9-99.1c-5.7-13.3-19-22.7-34.4-22.7H43.4c-10.4,0-19.7,4.2-26.5,11l112.7,92.8    c0,0,0,0,0,0s0,0,0,0l19.4,15.9C167.4,272,193.9,272.9,213.3,258.9z" id="XMLID_6_" /><path style="fill: #7b2715;" d="M240.5,251.5l-21.5,15.4c-10.9,7.9-23.8,11.8-36.6,11.8c-14.2,0-28.3-4.8-39.8-14.3L127,251.5L25.4,370.2    c5.4,3,11.5,4.7,18.1,4.7h273.3c8.7,0,16.7-3,23.1-8L240.5,251.5z" id="XMLID_5_" /><path style="fill: #7b2715;" d="M17.4,364.4l101.9-119.1L11,156c-3.1,5.5-5,11.8-5,18.6v162.9C6,348,10.4,357.6,17.4,364.4z" id="XMLID_4_" /></g><g><path style="fill: #7b2715;" d="M499,278.8H363.4v-13.9H499c3.8,0,7,3.1,7,7l0,0C506,275.7,502.9,278.8,499,278.8z" id="XMLID_3_" /><path style="fill: #7b2715;" d="M481.1,307.9H363.4V294h117.7c3.8,0,7,3.1,7,7l0,0C488,304.8,484.9,307.9,481.1,307.9z" id="XMLID_2_" /><path style="fill: #7b2715;" d="M462.5,337h-99V323h99c3.8,0,7,3.1,7,7l0,0C469.4,333.8,466.3,337,462.5,337z" id="XMLID_1_" /></g></g></svg>
            <a href="mailto:enquiry@east-essex-toastmaster.com" target="_blank">enquiry@east-essex-toastmaster.com</a>
        </div>
    </article>
</section>

<script>
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity(elem, {
        // options
        cellAlign: 'left',
        contain: true
    });
</script>
