
<link href="~/Content/CSS/Links.css" rel="stylesheet" />

<section class="inner-50em">
    <h3>
        These are the people I currently recommend
    </h3>

    <article>
        <h4>
            Photography
        </h4>
        <div>
            <a href="http://www.markobrienphotography.co.uk" target="_blank"> Mark O’Brien Photography</a> –   07789 000071
        </div>
        <div>
            <a href="http://www.pengelly-photography.co.uk" target="_blank">Pengelly Photography</a> - 01787 377503
        </div>
    </article>

    <article>
        <h4>
            Make up
        </h4>
        <div>
            Chic Unique Bridal Make up and Beauty – 07507 683678
        </div>
        <div>
            Make up By Rachel – 07809 888348
        </div>
        <div>
            Beauty Therapy – 07751 115965
        </div>
    </article>

    <article>
        <h4>
            Wedding Shows
        </h4>
        <div>
            <a href="http://www.wedding-workshop.co.uk" target="_blank">Wedding Workshop</a> - 0845 2572921
        </div>
    </article>

    <article>
        <h4>
            Wedding Stationery
        </h4>
        <div>
            amoment2cherish.com – 07769 550534
        </div>
        <div>
            Weddingcraft – 01473 631442
        </div>
    </article>

    <article>
        <h4>
            Outside Caterers
        </h4>
        <div>
            Splinters – 01787 373153
        </div>
    </article>

    <article>
        <h4>
            Disco
        </h4>
        <div>
            <a href="http://www.yourweddingdisco.com" target="_blank">Your Wedding Disco</a> - 01473 310553
        </div>
    </article>

    <article>
        <h4>
            Magician
        </h4>
        <div>
            Prestige Conjuring – 07801 553295
        </div>
    </article>

    <article>
        <h4>
            Wedding Chair Cover Hire
        </h4>
        <div>
            ExtravOrganza – 01473 614052
        </div>
    </article>

    <article>
        <h4>
            Favours and Accessories
        </h4>
        <div>
            Weddingcraft – 01473 631442
        </div>
    </article>

    <article>
        <h4>
            Bridal Wear
        </h4>
        <div>
            Couture Bride – 01245 344600
        </div>
        <div>
            Devine Gowns – 01245 357471
        </div>
    </article>

    <article>
        <h4>
            Bridegroom Wear
        </h4>
        <div>
            Couture Pour Homme – 01245 344600
        </div>
    </article>

    <article>
        <h4>
            Cakes
        </h4>
        <div>
            Cake Flair – 01473 312213
        </div>
        <div>
            Regency Cakes – 01638 742736
        </div>
    </article>

    <article>
        <h4>
            Musicians
        </h4>
        <div>
            The Cambridge Harpist – 07816 537185
        </div>
        <div>
            The Cambridge Pianist
        </div>
    </article>

    <article>
        <h4>
            Doves
        </h4>
        <div>
            Wings for Love – 01603 749059
        </div>
    </article>

    <article>
        <h4>
            Childcare – Creative fun
        </h4>
        <div>
            Cake Flair – 01473 312213
        </div>
        <div>
            Regency Cakes – 01638 742736
        </div>
    </article>

    <article>
        <h4>
            Musicians
        </h4>
        <div>
            The Cambridge Harpist – 07816 537185
        </div>
        <div>
            The Cambridge Pianist
        </div>
    </article>

    <article>
        <h4>
            Doves
        </h4>
        <div>
            Wings for Love – 01603 749059
        </div>
    </article>

    <article>
        <h4>
            Web Design
        </h4>
        <div>
            RS Studios – 07956-487703
        </div>
    </article>
</section>